nifi/templates/FTP_examples1.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>149cdf04-016e-1000-38d7-1a42cef49e8f</groupId>
    <name>FTP_examples</name>
    <snippet>
        <processGroups>
            <id>cb696178-fc7a-3b34-0000-000000000000</id>
            <parentGroupId>aac7d69a-802a-3065-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments>Two Examples:
- Stores dummy data in FTP Server 
- Read the dataset from FTP and ingest in HDFS</comments>
            <contents>
                <connections>
                    <id>0fab420a-5cfc-39b3-0000-000000000000</id>
                    <parentGroupId>cb696178-fc7a-3b34-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>0</backPressureObjectThreshold>
                    <bends>
                        <x>1191.9117707339074</x>
                        <y>400.975842774419</y>
                    </bends>
                    <destination>
                        <groupId>cb696178-fc7a-3b34-0000-000000000000</groupId>
                        <id>08da63ee-589f-3c15-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>permission.denied</selectedRelationships>
                    <source>
                        <groupId>cb696178-fc7a-3b34-0000-000000000000</groupId>
                        <id>a993156c-2ce4-3bd1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>10acd8c4-0c2d-3f12-0000-000000000000</id>
                    <parentGroupId>cb696178-fc7a-3b34-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cb696178-fc7a-3b34-0000-000000000000</groupId>
                        <id>a993156c-2ce4-3bd1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>filetofetch</selectedRelationships>
                    <source>
                        <groupId>cb696178-fc7a-3b34-0000-000000000000</groupId>
                        <id>e840b63c-91f2-3946-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1744c30a-3e6e-35fa-0000-000000000000</id>
                    <parentGroupId>cb696178-fc7a-3b34-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cb696178-fc7a-3b34-0000-000000000000</groupId>
                        <id>80b58c8c-5124-37e5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>cb696178-fc7a-3b34-0000-000000000000</groupId>
                        <id>a993156c-2ce4-3bd1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1b8b1ce4-8720-3c6d-0000-000000000000</id>
                    <parentGroupId>cb696178-fc7a-3b34-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cb696178-fc7a-3b34-0000-000000000000</groupId>
                        <id>22dfc998-4a6b-3379-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>cb696178-fc7a-3b34-0000-000000000000</groupId>
                        <id>069246a4-f732-3420-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>30bf310f-c855-33d4-0000-000000000000</id>
                    <parentGroupId>cb696178-fc7a-3b34-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cb696178-fc7a-3b34-0000-000000000000</groupId>
                        <id>71c7b247-461b-3c57-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>cb696178-fc7a-3b34-0000-000000000000</groupId>
                        <id>22dfc998-4a6b-3379-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>32777ac5-11ca-37c1-0000-000000000000</id>
                    <parentGroupId>cb696178-fc7a-3b34-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>0</backPressureObjectThreshold>
                    <destination>
                        <groupId>cb696178-fc7a-3b34-0000-000000000000</groupId>
                        <id>e840b63c-91f2-3946-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>cb696178-fc7a-3b34-0000-000000000000</groupId>
                        <id>5197c9ea-ce30-3bf7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4b5d4f48-319c-30b7-0000-000000000000</id>
                    <parentGroupId>cb696178-fc7a-3b34-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>0</backPressureObjectThreshold>
                    <bends>
                        <x>1567.72671571264</x>
                        <y>502.92900454137055</y>
                    </bends>
                    <bends>
                        <x>1567.72671571264</x>
                        <y>552.9290045413705</y>
                    </bends>
                    <destination>
                        <groupId>cb696178-fc7a-3b34-0000-000000000000</groupId>
                        <id>a993156c-2ce4-3bd1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>comms.failure</selectedRelationships>
                    <source>
                        <groupId>cb696178-fc7a-3b34-0000-000000000000</groupId>
                        <id>a993156c-2ce4-3bd1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>604f2ccf-0c04-3b35-0000-000000000000</id>
                    <parentGroupId>cb696178-fc7a-3b34-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>809a76cb-9dd8-34e4-0000-000000000000</groupId>
                        <id>3903f901-9d1c-3536-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>cb696178-fc7a-3b34-0000-000000000000</groupId>
                        <id>97026731-e0ad-3563-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7d91e67e-ae8e-3b9a-0000-000000000000</id>
                    <parentGroupId>cb696178-fc7a-3b34-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>0</backPressureObjectThreshold>
                    <bends>
                        <x>1394.5907258120324</x>
                        <y>399.967541993169</y>
                    </bends>
                    <destination>
                        <groupId>cb696178-fc7a-3b34-0000-000000000000</groupId>
                        <id>08da63ee-589f-3c15-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>not.found</selectedRelationships>
                    <source>
                        <groupId>cb696178-fc7a-3b34-0000-000000000000</groupId>
                        <id>a993156c-2ce4-3bd1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>daae9f65-0798-3e82-0000-000000000000</id>
                    <parentGroupId>cb696178-fc7a-3b34-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cb696178-fc7a-3b34-0000-000000000000</groupId>
                        <id>8fdb4cd1-af75-37f1-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>cb696178-fc7a-3b34-0000-000000000000</groupId>
                        <id>e840b63c-91f2-3946-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>fa20dfce-d100-3356-0000-000000000000</id>
                    <parentGroupId>cb696178-fc7a-3b34-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-dbcp-service-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.1.0.1.0-12</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>
<name>Database Connection URL</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>
<name>Database Driver Class Name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>
<name>database-driver-locations</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
<name>kerberos-credentials-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>
<name>Database User</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Password</key>
                            <value>
<name>Password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>
<name>Max Wait Time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>
<name>Max Total Connections</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                            <value>
<name>Validation-query</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                            <value>
<name>dbcp-min-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                            <value>
<name>dbcp-max-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                            <value>
<name>dbcp-max-conn-lifetime</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                            <value>
<name>dbcp-time-between-eviction-runs</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                            <value>
<name>dbcp-min-evictable-idle-time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                            <value>
<name>dbcp-soft-min-evictable-idle-time</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>DBCPConnectionPool</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>jdbc:mysql://rarana-ansible-1.vpc.cloudera.com:3306/ingesta</value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>com.mysql.jdbc.Driver</value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>/usr/share/java/mysql-connector-java.jar</value>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>ingesta</value>
                        </entry>
                        <entry>
                            <key>Password</key>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>500 millis</value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                            <value>30 mins</value>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                            <value>-1</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
                </controllerServices>
                <funnels>
                    <id>8fdb4cd1-af75-37f1-0000-000000000000</id>
                    <parentGroupId>cb696178-fc7a-3b34-0000-000000000000</parentGroupId>
                    <position>
                        <x>693.2255127563111</x>
                        <y>700.2512259698367</y>
                    </position>
                </funnels>
                <labels>
                    <id>205e5c09-df8a-3cb4-0000-000000000000</id>
                    <parentGroupId>cb696178-fc7a-3b34-0000-000000000000</parentGroupId>
                    <position>
                        <x>670.5295443844121</x>
                        <y>564.2301980782813</y>
                    </position>
                    <height>150.0</height>
                    <label></label>
                    <style/>
                    <width>150.0</width>
                </labels>
                <labels>
                    <id>99887fde-0688-3b8d-0000-000000000000</id>
                    <parentGroupId>cb696178-fc7a-3b34-0000-000000000000</parentGroupId>
                    <position>
                        <x>470.0568250599316</x>
                        <y>148.9229913671419</y>
                    </position>
                    <height>717.4622802734375</height>
                    <label>Ingest files from FTP to HDFS filtering by name</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>20px</value>
                        </entry>
                    </style>
                    <width>1274.72021484375</width>
                </labels>
                <labels>
                    <id>9b73977b-3319-3e8c-0000-000000000000</id>
                    <parentGroupId>cb696178-fc7a-3b34-0000-000000000000</parentGroupId>
                    <position>
                        <x>464.85367461641175</x>
                        <y>894.5970616899197</y>
                    </position>
                    <height>246.4105682373047</height>
                    <label>Ingest into sFTP</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>16px</value>
                        </entry>
                    </style>
                    <width>1283.788101196289</width>
                </labels>
                <processGroups>
                    <id>651c2aa8-3965-3b41-0000-000000000000</id>
                    <parentGroupId>cb696178-fc7a-3b34-0000-000000000000</parentGroupId>
                    <position>
                        <x>1795.3297343611155</x>
                        <y>305.83094922106415</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>2887681b-e8cb-3fb8-0000-000000000000</id>
                            <parentGroupId>651c2aa8-3965-3b41-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>3e823b09-9375-341b-0000-000000000000</groupId>
<id>e849510a-1548-35a7-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>651c2aa8-3965-3b41-0000-000000000000</groupId>
<id>c1fb4fa3-a43b-3303-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>802a645c-5fcd-3b46-0000-000000000000</id>
                            <parentGroupId>651c2aa8-3965-3b41-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>651c2aa8-3965-3b41-0000-000000000000</groupId>
<id>6f005fb8-db98-32a6-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>651c2aa8-3965-3b41-0000-000000000000</groupId>
<id>6612b50f-adab-38d4-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>979ed53d-941c-392e-0000-000000000000</id>
                            <parentGroupId>651c2aa8-3965-3b41-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>651c2aa8-3965-3b41-0000-000000000000</groupId>
<id>c1fb4fa3-a43b-3303-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>651c2aa8-3965-3b41-0000-000000000000</groupId>
<id>7bca4014-71bf-306f-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>b098c042-481f-3078-0000-000000000000</id>
                            <parentGroupId>651c2aa8-3965-3b41-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>62b646f3-590d-3816-0000-000000000000</groupId>
<id>d0558d5f-59a6-3aae-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>651c2aa8-3965-3b41-0000-000000000000</groupId>
<id>c1fb4fa3-a43b-3303-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d3483143-65ed-3705-0000-000000000000</id>
                            <parentGroupId>651c2aa8-3965-3b41-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>651c2aa8-3965-3b41-0000-000000000000</groupId>
<id>396d23e9-e263-327b-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Response</selectedRelationships>
                            <source>
<groupId>651c2aa8-3965-3b41-0000-000000000000</groupId>
<id>6f005fb8-db98-32a6-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e1db94b3-bc3d-38f6-0000-000000000000</id>
                            <parentGroupId>651c2aa8-3965-3b41-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>651c2aa8-3965-3b41-0000-000000000000</groupId>
<id>56bc43b1-66dc-3922-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>651c2aa8-3965-3b41-0000-000000000000</groupId>
<id>c1fb4fa3-a43b-3303-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>fa020372-8adb-316d-0000-000000000000</id>
                            <parentGroupId>651c2aa8-3965-3b41-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>1091.58291274305</x>
<y>54.075120228211006</y>
                            </bends>
                            <bends>
<x>1091.58291274305</x>
<y>104.075120228211</y>
                            </bends>
                            <destination>
<groupId>651c2aa8-3965-3b41-0000-000000000000</groupId>
<id>6f005fb8-db98-32a6-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Failure</selectedRelationships>
                            <selectedRelationships>Retry</selectedRelationships>
                            <source>
<groupId>651c2aa8-3965-3b41-0000-000000000000</groupId>
<id>6f005fb8-db98-32a6-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <controllerServices>
                            <id>6edce3b3-891b-3e4f-0000-000000000000</id>
                            <parentGroupId>651c2aa8-3965-3b41-0000-000000000000</parentGroupId>
                            <bundle>
<artifact>nifi-lookup-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.0.1.0.1.0-12</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>ftp.template01</key>
    <value>
        <name>ftp.template01</name>
    </value>
</entry>
                            </descriptors>
                            <name>SimpleKeyValueLookupService</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>ftp.template01</key>
    <value>{
    "Defaults" : {
        "Application" : "SampleApp",
        "SubApplication" : "SampleSubApp",
        "RunAs" : "&lt;USERNAME&gt;",
        "Host" : "&lt;HOST&gt;",
        "Job": {
            "When" : {
                "Months": ["JAN", "OCT", "DEC"],
                "MonthDays":["22","1","11"],
                "WeekDays":["MON","TUE", "WED", "THU", "FRI"],
                "FromTime":"0300",
                "ToTime":"2100"
            },
            "ActionIfFailure" : {
                "Type": "If",       
                "CompletionStatus": "NOTOK",
                
                "mailToTeam": {
                    "Type": "Mail",
                    "Message": "%%JOBNAME failed",
                    "To": "team@mycomp.com"
                }
            }
        }
    },
    "AutomationAPISampleFlow": {
        "Type": "Folder",
        "Comment" : "Code reviewed by John",
        "CommandJob": {
            "Type": "Job:Command",
            "Command": "&lt;COMMAND&gt;"
        },
        "ScriptJob": {
            "Type": "Job:Script",
          	"FilePath":"&lt;SCRIPT_PATH&gt;",
          	"FileName":"&lt;SCRIPT_NAME&gt;"
        },
        "Flow": {
            "Type": "Flow",
            "Sequence": ["CommandJob", "ScriptJob"]
        }
    }
}

</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.lookup.SimpleKeyValueLookupService</type>
                        </controllerServices>
                        <funnels>
                            <id>396d23e9-e263-327b-0000-000000000000</id>
                            <parentGroupId>651c2aa8-3965-3b41-0000-000000000000</parentGroupId>
                            <position>
<x>1160.6424458462325</x>
<y>83.14572853421718</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>56bc43b1-66dc-3922-0000-000000000000</id>
                            <parentGroupId>651c2aa8-3965-3b41-0000-000000000000</parentGroupId>
                            <position>
<x>276.7545195105881</x>
<y>594.6999399860537</y>
                            </position>
                        </funnels>
                        <processGroups>
                            <id>3e823b09-9375-341b-0000-000000000000</id>
                            <parentGroupId>651c2aa8-3965-3b41-0000-000000000000</parentGroupId>
                            <position>
<x>724.6341772908258</x>
<y>510.5201403313972</y>
                            </position>
                            <comments></comments>
                            <contents>
<connections>
    <id>5021b0f8-713f-3d9f-0000-000000000000</id>
    <parentGroupId>3e823b09-9375-341b-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>3e823b09-9375-341b-0000-000000000000</groupId>
        <id>64400a0d-4b79-3ae4-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>3e823b09-9375-341b-0000-000000000000</groupId>
        <id>f67d49eb-b2ca-30ed-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>58ba3b0a-d323-3f87-0000-000000000000</id>
    <parentGroupId>3e823b09-9375-341b-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>3e823b09-9375-341b-0000-000000000000</groupId>
        <id>8d7aefa3-bb7e-340a-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>Failure</selectedRelationships>
    <selectedRelationships>No Retry</selectedRelationships>
    <selectedRelationships>Response</selectedRelationships>
    <source>
        <groupId>3e823b09-9375-341b-0000-000000000000</groupId>
        <id>16aa2a33-c196-3a3f-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>5f6375ce-1570-36f9-0000-000000000000</id>
    <parentGroupId>3e823b09-9375-341b-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <bends>
        <x>1260.0000033552246</x>
        <y>200.99999984607382</y>
    </bends>
    <bends>
        <x>1260.0000033552246</x>
        <y>250.99999984607382</y>
    </bends>
    <destination>
        <groupId>3e823b09-9375-341b-0000-000000000000</groupId>
        <id>16aa2a33-c196-3a3f-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>Retry</selectedRelationships>
    <source>
        <groupId>3e823b09-9375-341b-0000-000000000000</groupId>
        <id>16aa2a33-c196-3a3f-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>77651328-6d84-3350-0000-000000000000</id>
    <parentGroupId>3e823b09-9375-341b-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>3e823b09-9375-341b-0000-000000000000</groupId>
        <id>f67d49eb-b2ca-30ed-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>matched</selectedRelationships>
    <source>
        <groupId>3e823b09-9375-341b-0000-000000000000</groupId>
        <id>64226571-352d-3472-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>a1945aef-19db-3610-0000-000000000000</id>
    <parentGroupId>3e823b09-9375-341b-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>3e823b09-9375-341b-0000-000000000000</groupId>
        <id>16aa2a33-c196-3a3f-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>3e823b09-9375-341b-0000-000000000000</groupId>
        <id>6b52a7e9-e2f0-33d4-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>a619988c-80fe-3784-0000-000000000000</id>
    <parentGroupId>3e823b09-9375-341b-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>3e823b09-9375-341b-0000-000000000000</groupId>
        <id>6b52a7e9-e2f0-33d4-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>3e823b09-9375-341b-0000-000000000000</groupId>
        <id>64400a0d-4b79-3ae4-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>b11ac714-a8fd-3fd0-0000-000000000000</id>
    <parentGroupId>3e823b09-9375-341b-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>3e823b09-9375-341b-0000-000000000000</groupId>
        <id>64226571-352d-3472-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <source>
        <groupId>3e823b09-9375-341b-0000-000000000000</groupId>
        <id>e849510a-1548-35a7-0000-000000000000</id>
        <type>INPUT_PORT</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<inputPorts>
    <id>e849510a-1548-35a7-0000-000000000000</id>
    <parentGroupId>3e823b09-9375-341b-0000-000000000000</parentGroupId>
    <position>
        <x>343.00000335522475</x>
        <y>45.99999984607382</y>
    </position>
    <comments></comments>
    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
    <name>Provision in Control-M</name>
    <state>STOPPED</state>
    <type>INPUT_PORT</type>
</inputPorts>
<outputPorts>
    <id>8d7aefa3-bb7e-340a-0000-000000000000</id>
    <parentGroupId>3e823b09-9375-341b-0000-000000000000</parentGroupId>
    <position>
        <x>843.0000033552247</x>
        <y>34.99999984607382</y>
    </position>
    <comments></comments>
    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
    <name>Return Provision Result</name>
    <state>STOPPED</state>
    <type>OUTPUT_PORT</type>
    <validationErrors>'Port 'Return Provision Result'' is invalid because Output connection for port 'Return Provision Result' is not defined.</validationErrors>
</outputPorts>
<processors>
    <id>16aa2a33-c196-3a3f-0000-000000000000</id>
    <parentGroupId>3e823b09-9375-341b-0000-000000000000</parentGroupId>
    <position>
        <x>797.0000033552247</x>
        <y>160.99999984607382</y>
    </position>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.9.0.1.0.1.0-12</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>HTTP Method</key>
                <value>
                    <name>HTTP Method</name>
                </value>
            </entry>
            <entry>
                <key>Remote URL</key>
                <value>
                    <name>Remote URL</name>
                </value>
            </entry>
            <entry>
                <key>SSL Context Service</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                    <name>SSL Context Service</name>
                </value>
            </entry>
            <entry>
                <key>Connection Timeout</key>
                <value>
                    <name>Connection Timeout</name>
                </value>
            </entry>
            <entry>
                <key>Read Timeout</key>
                <value>
                    <name>Read Timeout</name>
                </value>
            </entry>
            <entry>
                <key>Include Date Header</key>
                <value>
                    <name>Include Date Header</name>
                </value>
            </entry>
            <entry>
                <key>Follow Redirects</key>
                <value>
                    <name>Follow Redirects</name>
                </value>
            </entry>
            <entry>
                <key>Attributes to Send</key>
                <value>
                    <name>Attributes to Send</name>
                </value>
            </entry>
            <entry>
                <key>Basic Authentication Username</key>
                <value>
                    <name>Basic Authentication Username</name>
                </value>
            </entry>
            <entry>
                <key>Basic Authentication Password</key>
                <value>
                    <name>Basic Authentication Password</name>
                </value>
            </entry>
            <entry>
                <key>proxy-configuration-service</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                    <name>proxy-configuration-service</name>
                </value>
            </entry>
            <entry>
                <key>Proxy Host</key>
                <value>
                    <name>Proxy Host</name>
                </value>
            </entry>
            <entry>
                <key>Proxy Port</key>
                <value>
                    <name>Proxy Port</name>
                </value>
            </entry>
            <entry>
                <key>Proxy Type</key>
                <value>
                    <name>Proxy Type</name>
                </value>
            </entry>
            <entry>
                <key>invokehttp-proxy-user</key>
                <value>
                    <name>invokehttp-proxy-user</name>
                </value>
            </entry>
            <entry>
                <key>invokehttp-proxy-password</key>
                <value>
                    <name>invokehttp-proxy-password</name>
                </value>
            </entry>
            <entry>
                <key>Put Response Body In Attribute</key>
                <value>
                    <name>Put Response Body In Attribute</name>
                </value>
            </entry>
            <entry>
                <key>Max Length To Put In Attribute</key>
                <value>
                    <name>Max Length To Put In Attribute</name>
                </value>
            </entry>
            <entry>
                <key>Digest Authentication</key>
                <value>
                    <name>Digest Authentication</name>
                </value>
            </entry>
            <entry>
                <key>Always Output Response</key>
                <value>
                    <name>Always Output Response</name>
                </value>
            </entry>
            <entry>
                <key>Trusted Hostname</key>
                <value>
                    <name>Trusted Hostname</name>
                </value>
            </entry>
            <entry>
                <key>Add Response Headers to Request</key>
                <value>
                    <name>Add Response Headers to Request</name>
                </value>
            </entry>
            <entry>
                <key>Content-Type</key>
                <value>
                    <name>Content-Type</name>
                </value>
            </entry>
            <entry>
                <key>send-message-body</key>
                <value>
                    <name>send-message-body</name>
                </value>
            </entry>
            <entry>
                <key>Use Chunked Encoding</key>
                <value>
                    <name>Use Chunked Encoding</name>
                </value>
            </entry>
            <entry>
                <key>Penalize on "No Retry"</key>
                <value>
                    <name>Penalize on "No Retry"</name>
                </value>
            </entry>
            <entry>
                <key>use-etag</key>
                <value>
                    <name>use-etag</name>
                </value>
            </entry>
            <entry>
                <key>etag-max-cache-size</key>
                <value>
                    <name>etag-max-cache-size</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>HTTP Method</key>
                <value>GET</value>
            </entry>
            <entry>
                <key>Remote URL</key>
            </entry>
            <entry>
                <key>SSL Context Service</key>
            </entry>
            <entry>
                <key>Connection Timeout</key>
                <value>5 secs</value>
            </entry>
            <entry>
                <key>Read Timeout</key>
                <value>15 secs</value>
            </entry>
            <entry>
                <key>Include Date Header</key>
                <value>True</value>
            </entry>
            <entry>
                <key>Follow Redirects</key>
                <value>True</value>
            </entry>
            <entry>
                <key>Attributes to Send</key>
            </entry>
            <entry>
                <key>Basic Authentication Username</key>
            </entry>
            <entry>
                <key>Basic Authentication Password</key>
            </entry>
            <entry>
                <key>proxy-configuration-service</key>
            </entry>
            <entry>
                <key>Proxy Host</key>
            </entry>
            <entry>
                <key>Proxy Port</key>
            </entry>
            <entry>
                <key>Proxy Type</key>
                <value>http</value>
            </entry>
            <entry>
                <key>invokehttp-proxy-user</key>
            </entry>
            <entry>
                <key>invokehttp-proxy-password</key>
            </entry>
            <entry>
                <key>Put Response Body In Attribute</key>
            </entry>
            <entry>
                <key>Max Length To Put In Attribute</key>
                <value>256</value>
            </entry>
            <entry>
                <key>Digest Authentication</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Always Output Response</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Trusted Hostname</key>
            </entry>
            <entry>
                <key>Add Response Headers to Request</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Content-Type</key>
                <value>${mime.type}</value>
            </entry>
            <entry>
                <key>send-message-body</key>
                <value>true</value>
            </entry>
            <entry>
                <key>Use Chunked Encoding</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Penalize on "No Retry"</key>
                <value>false</value>
            </entry>
            <entry>
                <key>use-etag</key>
                <value>false</value>
            </entry>
            <entry>
                <key>etag-max-cache-size</key>
                <value>10MB</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>InvokeHTTP</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>Failure</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>No Retry</name>
    </relationships>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>Original</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>Response</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>Retry</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
</processors>
<processors>
    <id>64226571-352d-3472-0000-000000000000</id>
    <parentGroupId>3e823b09-9375-341b-0000-000000000000</parentGroupId>
    <position>
        <x>295.1572690239966</x>
        <y>175.0427031574693</y>
    </position>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.9.0.1.0.1.0-12</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>lookup-service</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.lookup.StringLookupService</identifiesControllerService>
                    <name>lookup-service</name>
                </value>
            </entry>
            <entry>
                <key>include-empty-values</key>
                <value>
                    <name>include-empty-values</name>
                </value>
            </entry>
            <entry>
                <key>controlm.template</key>
                <value>
                    <name>controlm.template</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>lookup-service</key>
                <value>6edce3b3-891b-3e4f-0000-000000000000</value>
            </entry>
            <entry>
                <key>include-empty-values</key>
                <value>true</value>
            </entry>
            <entry>
                <key>controlm.template</key>
                <value>${schedule.template}</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>Carga Plantilla API Control_M</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
    </relationships>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.LookupAttribute</type>
</processors>
<processors>
    <id>64400a0d-4b79-3ae4-0000-000000000000</id>
    <parentGroupId>3e823b09-9375-341b-0000-000000000000</parentGroupId>
    <position>
        <x>555.4819324477262</x>
        <y>568.9782684196987</y>
    </position>
    <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.9.0.1.0.1.0-12</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Delete Attributes Expression</key>
                <value>
                    <name>Delete Attributes Expression</name>
                </value>
            </entry>
            <entry>
                <key>Store State</key>
                <value>
                    <name>Store State</name>
                </value>
            </entry>
            <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                    <name>Stateful Variables Initial Value</name>
                </value>
            </entry>
            <entry>
                <key>canonical-value-lookup-cache-size</key>
                <value>
                    <name>canonical-value-lookup-cache-size</name>
                </value>
            </entry>
            <entry>
                <key>command</key>
                <value>
                    <name>command</name>
                </value>
            </entry>
            <entry>
                <key>FileName</key>
                <value>
                    <name>FileName</name>
                </value>
            </entry>
            <entry>
                <key>FilePath</key>
                <value>
                    <name>FilePath</name>
                </value>
            </entry>
            <entry>
                <key>servidor</key>
                <value>
                    <name>servidor</name>
                </value>
            </entry>
            <entry>
                <key>username</key>
                <value>
                    <name>username</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Delete Attributes Expression</key>
            </entry>
            <entry>
                <key>Store State</key>
                <value>Do not store state</value>
            </entry>
            <entry>
                <key>Stateful Variables Initial Value</key>
            </entry>
            <entry>
                <key>canonical-value-lookup-cache-size</key>
                <value>100</value>
            </entry>
            <entry>
                <key>command</key>
                <value>ls -lart</value>
            </entry>
            <entry>
                <key>FileName</key>
                <value>lanza_ingesta.sh</value>
            </entry>
            <entry>
                <key>FilePath</key>
                <value>/ejemplo/nifi/scripts</value>
            </entry>
            <entry>
                <key>servidor</key>
                <value>localhost</value>
            </entry>
            <entry>
                <key>username</key>
                <value>pepe</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>Recupera Atributos</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
</processors>
<processors>
    <id>6b52a7e9-e2f0-33d4-0000-000000000000</id>
    <parentGroupId>3e823b09-9375-341b-0000-000000000000</parentGroupId>
    <position>
        <x>791.6423938735074</x>
        <y>363.82220152516743</y>
    </position>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.9.0.1.0.1.0-12</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>jolt-transform</key>
                <value>
                    <name>jolt-transform</name>
                </value>
            </entry>
            <entry>
                <key>jolt-custom-class</key>
                <value>
                    <name>jolt-custom-class</name>
                </value>
            </entry>
            <entry>
                <key>jolt-custom-modules</key>
                <value>
                    <name>jolt-custom-modules</name>
                </value>
            </entry>
            <entry>
                <key>jolt-spec</key>
                <value>
                    <name>jolt-spec</name>
                </value>
            </entry>
            <entry>
                <key>Transform Cache Size</key>
                <value>
                    <name>Transform Cache Size</name>
                </value>
            </entry>
            <entry>
                <key>pretty_print</key>
                <value>
                    <name>pretty_print</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>jolt-transform</key>
                <value>jolt-transform-chain</value>
            </entry>
            <entry>
                <key>jolt-custom-class</key>
            </entry>
            <entry>
                <key>jolt-custom-modules</key>
            </entry>
            <entry>
                <key>jolt-spec</key>
                <value>[
  {
     "operation": "modify-overwrite-beta",
    "spec": {
       "Defaults": {
         "RunAs": "${username}",
         "Host" : "${servidor}"
        }
    }
  },
  {
     "operation": "modify-overwrite-beta",
    "spec": {
       "AutomationAPISampleFlow": {
         "CommandJob": {
           "Command": "${command}"
        }
      }
    }
  },
  {
     "operation": "modify-overwrite-beta",
    "spec": {
       "AutomationAPISampleFlow": {
         "ScriptJob": {
           "FilePath":"${FilePath}",
          	"FileName":"${FileName}"
        }
      }
    }
  }
]</value>
            </entry>
            <entry>
                <key>Transform Cache Size</key>
                <value>1</value>
            </entry>
            <entry>
                <key>pretty_print</key>
                <value>true</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>JoltTransformJSON</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
</processors>
<processors>
    <id>f67d49eb-b2ca-30ed-0000-000000000000</id>
    <parentGroupId>3e823b09-9375-341b-0000-000000000000</parentGroupId>
    <position>
        <x>287.3157442292169</x>
        <y>403.54150978659004</y>
    </position>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.9.0.1.0.1.0-12</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Regular Expression</key>
                <value>
                    <name>Regular Expression</name>
                </value>
            </entry>
            <entry>
                <key>Replacement Value</key>
                <value>
                    <name>Replacement Value</name>
                </value>
            </entry>
            <entry>
                <key>Character Set</key>
                <value>
                    <name>Character Set</name>
                </value>
            </entry>
            <entry>
                <key>Maximum Buffer Size</key>
                <value>
                    <name>Maximum Buffer Size</name>
                </value>
            </entry>
            <entry>
                <key>Replacement Strategy</key>
                <value>
                    <name>Replacement Strategy</name>
                </value>
            </entry>
            <entry>
                <key>Evaluation Mode</key>
                <value>
                    <name>Evaluation Mode</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Regular Expression</key>
                <value>(?s)(^.*$)</value>
            </entry>
            <entry>
                <key>Replacement Value</key>
                <value>${controlm.template}</value>
            </entry>
            <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
            </entry>
            <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
            </entry>
            <entry>
                <key>Replacement Strategy</key>
                <value>Regex Replace</value>
            </entry>
            <entry>
                <key>Evaluation Mode</key>
                <value>Entire text</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>ReplaceText</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.ReplaceText</type>
</processors>
                            </contents>
                            <name>Provision in Control-M</name>
                            <variables/>
                        </processGroups>
                        <processGroups>
                            <id>62b646f3-590d-3816-0000-000000000000</id>
                            <parentGroupId>651c2aa8-3965-3b41-0000-000000000000</parentGroupId>
                            <position>
<x>723.5550926660267</x>
<y>247.1884181085677</y>
                            </position>
                            <comments></comments>
                            <contents>
<connections>
    <id>015f5345-5d21-391e-0000-000000000000</id>
    <parentGroupId>62b646f3-590d-3816-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <bends>
        <x>1135.0000033552246</x>
        <y>122.99999984607382</y>
    </bends>
    <bends>
        <x>1135.0000033552246</x>
        <y>172.99999984607382</y>
    </bends>
    <destination>
        <groupId>62b646f3-590d-3816-0000-000000000000</groupId>
        <id>4abab750-528d-3535-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>retry</selectedRelationships>
    <source>
        <groupId>62b646f3-590d-3816-0000-000000000000</groupId>
        <id>4abab750-528d-3535-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>a60c8290-f9c2-36b5-0000-000000000000</id>
    <parentGroupId>62b646f3-590d-3816-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>62b646f3-590d-3816-0000-000000000000</groupId>
        <id>4abab750-528d-3535-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <source>
        <groupId>62b646f3-590d-3816-0000-000000000000</groupId>
        <id>d0558d5f-59a6-3aae-0000-000000000000</id>
        <type>INPUT_PORT</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>c9d962d2-42a1-3874-0000-000000000000</id>
    <parentGroupId>62b646f3-590d-3816-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>62b646f3-590d-3816-0000-000000000000</groupId>
        <id>238d1a34-1737-3223-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>failure</selectedRelationships>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>62b646f3-590d-3816-0000-000000000000</groupId>
        <id>4abab750-528d-3535-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<inputPorts>
    <id>d0558d5f-59a6-3aae-0000-000000000000</id>
    <parentGroupId>62b646f3-590d-3816-0000-000000000000</parentGroupId>
    <position>
        <x>301.00000335522475</x>
        <y>9.99999984607382</y>
    </position>
    <comments></comments>
    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
    <name>Provision in App Metastore</name>
    <state>STOPPED</state>
    <type>INPUT_PORT</type>
</inputPorts>
<outputPorts>
    <id>238d1a34-1737-3223-0000-000000000000</id>
    <parentGroupId>62b646f3-590d-3816-0000-000000000000</parentGroupId>
    <position>
        <x>292.00000335522464</x>
        <y>281.9999998460738</y>
    </position>
    <comments></comments>
    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
    <name>Return Metadata Insert Result</name>
    <state>STOPPED</state>
    <type>OUTPUT_PORT</type>
    <validationErrors>'Port 'Return Metadata Insert Result'' is invalid because Output connection for port 'Return Metadata Insert Result' is not defined.</validationErrors>
</outputPorts>
<processors>
    <id>4abab750-528d-3535-0000-000000000000</id>
    <parentGroupId>62b646f3-590d-3816-0000-000000000000</parentGroupId>
    <position>
        <x>672.0000033552246</x>
        <y>82.99999984607382</y>
    </position>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.9.0.1.0.1.0-12</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>JDBC Connection Pool</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                    <name>JDBC Connection Pool</name>
                </value>
            </entry>
            <entry>
                <key>putsql-sql-statement</key>
                <value>
                    <name>putsql-sql-statement</name>
                </value>
            </entry>
            <entry>
                <key>Support Fragmented Transactions</key>
                <value>
                    <name>Support Fragmented Transactions</name>
                </value>
            </entry>
            <entry>
                <key>database-session-autocommit</key>
                <value>
                    <name>database-session-autocommit</name>
                </value>
            </entry>
            <entry>
                <key>Transaction Timeout</key>
                <value>
                    <name>Transaction Timeout</name>
                </value>
            </entry>
            <entry>
                <key>Batch Size</key>
                <value>
                    <name>Batch Size</name>
                </value>
            </entry>
            <entry>
                <key>Obtain Generated Keys</key>
                <value>
                    <name>Obtain Generated Keys</name>
                </value>
            </entry>
            <entry>
                <key>rollback-on-failure</key>
                <value>
                    <name>rollback-on-failure</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>JDBC Connection Pool</key>
                <value>fa20dfce-d100-3356-0000-000000000000</value>
            </entry>
            <entry>
                <key>putsql-sql-statement</key>
                <value>INSERT INTO ftp_config
(
	jobid,
	ftp_server_hostname,
	ftp_server_port,
	ftp_username,
	ftp_destination_path,
	ftp_remote_path,
	hdfs_destination_dir
)
VALUES (
'${job.id}',
'${ftp.server.hostname}',
'${ftp.server.port}',
'${ftp.username}',
'${ftp.remote.path}',
'${ftp.destination.path}',
'${hdfs.destination.dir}'
);</value>
            </entry>
            <entry>
                <key>Support Fragmented Transactions</key>
                <value>true</value>
            </entry>
            <entry>
                <key>database-session-autocommit</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Transaction Timeout</key>
            </entry>
            <entry>
                <key>Batch Size</key>
                <value>100</value>
            </entry>
            <entry>
                <key>Obtain Generated Keys</key>
                <value>false</value>
            </entry>
            <entry>
                <key>rollback-on-failure</key>
                <value>false</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>PutSQL</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>retry</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.PutSQL</type>
</processors>
                            </contents>
                            <name>Provision in App Metastore</name>
                            <variables/>
                        </processGroups>
                        <processors>
                            <id>6612b50f-adab-38d4-0000-000000000000</id>
                            <parentGroupId>651c2aa8-3965-3b41-0000-000000000000</parentGroupId>
                            <position>
<x>103.40267829733546</x>
<y>17.325531755880377</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.0.1.0.1.0-12</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>PRIMARY</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>0B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>{
  "aplicationid": "app_01",
  "jobid": "tfp_7123",
  "tipo": "ftp",
  "propiedades": {
    "ftp_server_hostname": "rarana-nifi-1.vpc.cloudera.com",
    "ftp_server_port": "22",
    "ftp_username": "nififtpuser",
    "ftp_destination_path": "upload",
    "ftp_remote_path": "upload",
    "hdfs_destination_dir": "/nifi-examples/ftp"
  },
  "schedule": {
    "template": "ftp.template01",
    "prop1": "valor1",
    "prop2": "valor2"
  }
}</value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>5 min</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Genera JSON Ejemplo FTP</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                        <processors>
                            <id>6f005fb8-db98-32a6-0000-000000000000</id>
                            <parentGroupId>651c2aa8-3965-3b41-0000-000000000000</parentGroupId>
                            <position>
<x>628.58291274305</x>
<y>14.075120228211006</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.0.1.0.1.0-12</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>Trusted Hostname</key>
        <value>
            <name>Trusted Hostname</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>
            <name>use-etag</name>
        </value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>
            <name>etag-max-cache-size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>HTTP Method</key>
        <value>POST</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>http://rarana-nifi-1.vpc.cloudera.com:7777/provision</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>http</value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Trusted Hostname</key>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>${mime.type}</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>false</value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>10MB</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>InvokeHTTP</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>No Retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Response</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Retry</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                        <processors>
                            <id>7bca4014-71bf-306f-0000-000000000000</id>
                            <parentGroupId>651c2aa8-3965-3b41-0000-000000000000</parentGroupId>
                            <position>
<x>94.36495040922802</x>
<y>206.17774538195158</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.0.1.0.1.0-12</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Base Path</key>
        <value>
            <name>Base Path</name>
        </value>
    </entry>
    <entry>
        <key>Listening Port</key>
        <value>
            <name>Listening Port</name>
        </value>
    </entry>
    <entry>
        <key>Max Data to Receive per Second</key>
        <value>
            <name>Max Data to Receive per Second</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Authorized DN Pattern</key>
        <value>
            <name>Authorized DN Pattern</name>
        </value>
    </entry>
    <entry>
        <key>Max Unconfirmed Flowfile Time</key>
        <value>
            <name>Max Unconfirmed Flowfile Time</name>
        </value>
    </entry>
    <entry>
        <key>HTTP Headers to receive as Attributes (Regex)</key>
        <value>
            <name>HTTP Headers to receive as Attributes (Regex)</name>
        </value>
    </entry>
    <entry>
        <key>Return Code</key>
        <value>
            <name>Return Code</name>
        </value>
    </entry>
    <entry>
        <key>multipart-request-max-size</key>
        <value>
            <name>multipart-request-max-size</name>
        </value>
    </entry>
    <entry>
        <key>multipart-read-buffer-size</key>
        <value>
            <name>multipart-read-buffer-size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Base Path</key>
        <value>provision</value>
    </entry>
    <entry>
        <key>Listening Port</key>
        <value>7777</value>
    </entry>
    <entry>
        <key>Max Data to Receive per Second</key>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Authorized DN Pattern</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Max Unconfirmed Flowfile Time</key>
        <value>60 secs</value>
    </entry>
    <entry>
        <key>HTTP Headers to receive as Attributes (Regex)</key>
    </entry>
    <entry>
        <key>Return Code</key>
        <value>200</value>
    </entry>
    <entry>
        <key>multipart-request-max-size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>multipart-read-buffer-size</key>
        <value>512 KB</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ListenHTTP</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ListenHTTP</type>
                        </processors>
                        <processors>
                            <id>c1fb4fa3-a43b-3303-0000-000000000000</id>
                            <parentGroupId>651c2aa8-3965-3b41-0000-000000000000</parentGroupId>
                            <position>
<x>103.66216926413233</x>
<y>410.7192199577846</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.0.1.0.1.0-12</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>application.id</key>
        <value>
            <name>application.id</name>
        </value>
    </entry>
    <entry>
        <key>ftp.destination.path</key>
        <value>
            <name>ftp.destination.path</name>
        </value>
    </entry>
    <entry>
        <key>ftp.remote.path</key>
        <value>
            <name>ftp.remote.path</name>
        </value>
    </entry>
    <entry>
        <key>ftp.server.hostname</key>
        <value>
            <name>ftp.server.hostname</name>
        </value>
    </entry>
    <entry>
        <key>ftp.server.port</key>
        <value>
            <name>ftp.server.port</name>
        </value>
    </entry>
    <entry>
        <key>ftp.username</key>
        <value>
            <name>ftp.username</name>
        </value>
    </entry>
    <entry>
        <key>hdfs.destination.dir</key>
        <value>
            <name>hdfs.destination.dir</name>
        </value>
    </entry>
    <entry>
        <key>job.id</key>
        <value>
            <name>job.id</name>
        </value>
    </entry>
    <entry>
        <key>schedule.template</key>
        <value>
            <name>schedule.template</name>
        </value>
    </entry>
    <entry>
        <key>tipo</key>
        <value>
            <name>tipo</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>application.id</key>
        <value>$.applicationid</value>
    </entry>
    <entry>
        <key>ftp.destination.path</key>
        <value>$.propiedades.ftp_destination_path</value>
    </entry>
    <entry>
        <key>ftp.remote.path</key>
        <value>$.propiedades.ftp_remote_path</value>
    </entry>
    <entry>
        <key>ftp.server.hostname</key>
        <value>$.propiedades.ftp_server_hostname</value>
    </entry>
    <entry>
        <key>ftp.server.port</key>
        <value>$.propiedades.ftp_server_port</value>
    </entry>
    <entry>
        <key>ftp.username</key>
        <value>$.propiedades.ftp_username</value>
    </entry>
    <entry>
        <key>hdfs.destination.dir</key>
        <value>$.propiedades.hdfs_destination_dir</value>
    </entry>
    <entry>
        <key>job.id</key>
        <value>$.jobid</value>
    </entry>
    <entry>
        <key>schedule.template</key>
        <value>$.schedule.template</value>
    </entry>
    <entry>
        <key>tipo</key>
        <value>$.tipo</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>EvaluateJsonPath</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                    </contents>
                    <name>Provision FTP Ingestion Flow</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>809a76cb-9dd8-34e4-0000-000000000000</id>
                    <parentGroupId>cb696178-fc7a-3b34-0000-000000000000</parentGroupId>
                    <position>
                        <x>-46.561252695394614</x>
                        <y>394.4916268838889</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>11ca2fe7-3391-3f68-0000-000000000000</id>
                            <parentGroupId>809a76cb-9dd8-34e4-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>809a76cb-9dd8-34e4-0000-000000000000</groupId>
<id>808db8d1-2426-3dd1-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>809a76cb-9dd8-34e4-0000-000000000000</groupId>
<id>54a2d9bb-433a-3d1a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>27c0a1cc-4682-3fcd-0000-000000000000</id>
                            <parentGroupId>809a76cb-9dd8-34e4-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>809a76cb-9dd8-34e4-0000-000000000000</groupId>
<id>d69e79f2-c4f8-3837-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>809a76cb-9dd8-34e4-0000-000000000000</groupId>
<id>b92fc255-39a4-391c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>99b1532d-edc6-3e1e-0000-000000000000</id>
                            <parentGroupId>809a76cb-9dd8-34e4-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>809a76cb-9dd8-34e4-0000-000000000000</groupId>
<id>54a2d9bb-433a-3d1a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>809a76cb-9dd8-34e4-0000-000000000000</groupId>
<id>3903f901-9d1c-3536-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a10d885c-129a-32f3-0000-000000000000</id>
                            <parentGroupId>809a76cb-9dd8-34e4-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>809a76cb-9dd8-34e4-0000-000000000000</groupId>
<id>d516a8aa-dd30-3de7-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>809a76cb-9dd8-34e4-0000-000000000000</groupId>
<id>d69e79f2-c4f8-3837-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>ea640477-a1e8-3a5b-0000-000000000000</id>
                            <parentGroupId>809a76cb-9dd8-34e4-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>809a76cb-9dd8-34e4-0000-000000000000</groupId>
<id>b92fc255-39a4-391c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>809a76cb-9dd8-34e4-0000-000000000000</groupId>
<id>808db8d1-2426-3dd1-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>3903f901-9d1c-3536-0000-000000000000</id>
                            <parentGroupId>809a76cb-9dd8-34e4-0000-000000000000</parentGroupId>
                            <position>
<x>10.000012895285522</x>
<y>175.50000342404365</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>HandleRequest</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>d516a8aa-dd30-3de7-0000-000000000000</id>
                            <parentGroupId>809a76cb-9dd8-34e4-0000-000000000000</parentGroupId>
                            <position>
<x>841.5999327866431</x>
<y>168.29999121701258</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Send FTP Request</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                            <validationErrors>'Port 'Send FTP Request'' is invalid because Output connection for port 'Send FTP Request' is not defined.</validationErrors>
                        </outputPorts>
                        <processors>
                            <id>54a2d9bb-433a-3d1a-0000-000000000000</id>
                            <parentGroupId>809a76cb-9dd8-34e4-0000-000000000000</parentGroupId>
                            <position>
<x>91.2452980800831</x>
<y>292.03518355672395</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.0.1.0.1.0-12</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>job.id</key>
        <value>
            <name>job.id</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>job.id</key>
        <value>1</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>UpdateAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>808db8d1-2426-3dd1-0000-000000000000</id>
                            <parentGroupId>809a76cb-9dd8-34e4-0000-000000000000</parentGroupId>
                            <position>
<x>183.36001640428321</x>
<y>500.50187007669035</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.0.1.0.1.0-12</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>Database Connection Pooling Service</name>
        </value>
    </entry>
    <entry>
        <key>sql-pre-query</key>
        <value>
            <name>sql-pre-query</name>
        </value>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>
            <name>SQL select query</name>
        </value>
    </entry>
    <entry>
        <key>sql-post-query</key>
        <value>
            <name>sql-post-query</name>
        </value>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>
            <name>Max Wait Time</name>
        </value>
    </entry>
    <entry>
        <key>dbf-normalize</key>
        <value>
            <name>dbf-normalize</name>
        </value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>
            <name>dbf-user-logical-types</name>
        </value>
    </entry>
    <entry>
        <key>compression-format</key>
        <value>
            <name>compression-format</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>
            <name>dbf-default-precision</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>
            <name>dbf-default-scale</name>
        </value>
    </entry>
    <entry>
        <key>esql-max-rows</key>
        <value>
            <name>esql-max-rows</name>
        </value>
    </entry>
    <entry>
        <key>esql-output-batch-size</key>
        <value>
            <name>esql-output-batch-size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>fa20dfce-d100-3356-0000-000000000000</value>
    </entry>
    <entry>
        <key>sql-pre-query</key>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>SELECT jobid,
	ftp_server_hostname,
	ftp_server_port,
	ftp_username,
	ftp_destination_path,
	ftp_remote_path,
	hdfs_destination_dir
FROM ftp_config WHERE jobid='${job.id}';</value>
    </entry>
    <entry>
        <key>sql-post-query</key>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>0 seconds</value>
    </entry>
    <entry>
        <key>dbf-normalize</key>
        <value>false</value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>false</value>
    </entry>
    <entry>
        <key>compression-format</key>
        <value>NONE</value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>10</value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-max-rows</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-output-batch-size</key>
        <value>0</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ExecuteSQL</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                        </processors>
                        <processors>
                            <id>b92fc255-39a4-391c-0000-000000000000</id>
                            <parentGroupId>809a76cb-9dd8-34e4-0000-000000000000</parentGroupId>
                            <position>
<x>624.4041086639841</x>
<y>501.4734972623853</y>
                            </position>
                            <bundle>
<artifact>nifi-avro-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.0.1.0.1.0-12</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JSON container options</key>
        <value>
            <name>JSON container options</name>
        </value>
    </entry>
    <entry>
        <key>Wrap Single Record</key>
        <value>
            <name>Wrap Single Record</name>
        </value>
    </entry>
    <entry>
        <key>Avro schema</key>
        <value>
            <name>Avro schema</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JSON container options</key>
        <value>array</value>
    </entry>
    <entry>
        <key>Wrap Single Record</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Avro schema</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConvertAvroToJSON</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type>
                        </processors>
                        <processors>
                            <id>d69e79f2-c4f8-3837-0000-000000000000</id>
                            <parentGroupId>809a76cb-9dd8-34e4-0000-000000000000</parentGroupId>
                            <position>
<x>674.513058079248</x>
<y>286.2693051850563</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.0.1.0.1.0-12</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>ftp.destination.path</key>
        <value>
            <name>ftp.destination.path</name>
        </value>
    </entry>
    <entry>
        <key>ftp.remote.path</key>
        <value>
            <name>ftp.remote.path</name>
        </value>
    </entry>
    <entry>
        <key>ftp.server.hostname</key>
        <value>
            <name>ftp.server.hostname</name>
        </value>
    </entry>
    <entry>
        <key>ftp.server.port</key>
        <value>
            <name>ftp.server.port</name>
        </value>
    </entry>
    <entry>
        <key>ftp.username</key>
        <value>
            <name>ftp.username</name>
        </value>
    </entry>
    <entry>
        <key>hdfs.destination.dir</key>
        <value>
            <name>hdfs.destination.dir</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>ftp.destination.path</key>
        <value>$.ftp_destination_path</value>
    </entry>
    <entry>
        <key>ftp.remote.path</key>
        <value>$.ftp_remote_path</value>
    </entry>
    <entry>
        <key>ftp.server.hostname</key>
        <value>$.ftp_server_hostname</value>
    </entry>
    <entry>
        <key>ftp.server.port</key>
        <value>$.ftp_server_port</value>
    </entry>
    <entry>
        <key>ftp.username</key>
        <value>$.ftp_username</value>
    </entry>
    <entry>
        <key>hdfs.destination.dir</key>
        <value>$.hdfs_destination_dir</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>EvaluateJsonPath</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                    </contents>
                    <name>ParseRequest</name>
                    <variables/>
                </processGroups>
                <processors>
                    <id>069246a4-f732-3420-0000-000000000000</id>
                    <parentGroupId>cb696178-fc7a-3b34-0000-000000000000</parentGroupId>
                    <position>
                        <x>497.2335553262327</x>
                        <y>960.2420836437591</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.1.0.1.0-12</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>asdfsdafsadfasdf</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>30 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>08da63ee-589f-3c15-0000-000000000000</id>
                    <parentGroupId>cb696178-fc7a-3b34-0000-000000000000</parentGroupId>
                    <position>
                        <x>1158.72671571264</x>
                        <y>217.16246490525066</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.1.0.1.0-12</version>
                    </bundle>
                    <config>
                        <bulletinLevel>INFO</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>22dfc998-4a6b-3379-0000-000000000000</id>
                    <parentGroupId>cb696178-fc7a-3b34-0000-000000000000</parentGroupId>
                    <position>
                        <x>908.7734350719885</x>
                        <y>960.2420836437591</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.1.0.1.0-12</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>nifi-app_${uuid}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Set filename</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>5197c9ea-ce30-3bf7-0000-000000000000</id>
                    <parentGroupId>cb696178-fc7a-3b34-0000-000000000000</parentGroupId>
                    <position>
                        <x>540.6651460777513</x>
                        <y>263.095209269114</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.1.0.1.0-12</version>
                    </bundle>
                    <config>
                        <bulletinLevel>INFO</bulletinLevel>
                        <comments>The processor is getting a list of files in the /nifi-logs directory everyday at 1215</comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>listing-strategy</key>
<value>
    <name>listing-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Hostname</key>
<value>
    <name>Hostname</name>
</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>
    <name>Port</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>Private Key Path</key>
<value>
    <name>Private Key Path</name>
</value>
                            </entry>
                            <entry>
<key>Private Key Passphrase</key>
<value>
    <name>Private Key Passphrase</name>
</value>
                            </entry>
                            <entry>
<key>Remote Path</key>
<value>
    <name>Remote Path</name>
</value>
                            </entry>
                            <entry>
<key>Distributed Cache Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
    <name>Distributed Cache Service</name>
</value>
                            </entry>
                            <entry>
<key>Search Recursively</key>
<value>
    <name>Search Recursively</name>
</value>
                            </entry>
                            <entry>
<key>follow-symlink</key>
<value>
    <name>follow-symlink</name>
</value>
                            </entry>
                            <entry>
<key>File Filter Regex</key>
<value>
    <name>File Filter Regex</name>
</value>
                            </entry>
                            <entry>
<key>Path Filter Regex</key>
<value>
    <name>Path Filter Regex</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Dotted Files</key>
<value>
    <name>Ignore Dotted Files</name>
</value>
                            </entry>
                            <entry>
<key>Strict Host Key Checking</key>
<value>
    <name>Strict Host Key Checking</name>
</value>
                            </entry>
                            <entry>
<key>Host Key File</key>
<value>
    <name>Host Key File</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>
    <name>Data Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Send Keep Alive On Timeout</key>
<value>
    <name>Send Keep Alive On Timeout</name>
</value>
                            </entry>
                            <entry>
<key>target-system-timestamp-precision</key>
<value>
    <name>target-system-timestamp-precision</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Http Proxy Username</key>
<value>
    <name>Http Proxy Username</name>
</value>
                            </entry>
                            <entry>
<key>Http Proxy Password</key>
<value>
    <name>Http Proxy Password</name>
</value>
                            </entry>
                            <entry>
<key>et-state-cache</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
    <name>et-state-cache</name>
</value>
                            </entry>
                            <entry>
<key>et-time-window</key>
<value>
    <name>et-time-window</name>
</value>
                            </entry>
                            <entry>
<key>et-initial-listing-target</key>
<value>
    <name>et-initial-listing-target</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>listing-strategy</key>
<value>timestamps</value>
                            </entry>
                            <entry>
<key>Hostname</key>
<value>${ftp.server.hostname}</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>${ftp.server.port}</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>${ftp.username}</value>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>Private Key Path</key>
                            </entry>
                            <entry>
<key>Private Key Passphrase</key>
                            </entry>
                            <entry>
<key>Remote Path</key>
<value>${ftp.remote.path}</value>
                            </entry>
                            <entry>
<key>Distributed Cache Service</key>
                            </entry>
                            <entry>
<key>Search Recursively</key>
<value>false</value>
                            </entry>
                            <entry>
<key>follow-symlink</key>
<value>false</value>
                            </entry>
                            <entry>
<key>File Filter Regex</key>
                            </entry>
                            <entry>
<key>Path Filter Regex</key>
                            </entry>
                            <entry>
<key>Ignore Dotted Files</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Strict Host Key Checking</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Host Key File</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>Send Keep Alive On Timeout</key>
<value>true</value>
                            </entry>
                            <entry>
<key>target-system-timestamp-precision</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>DIRECT</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Http Proxy Username</key>
                            </entry>
                            <entry>
<key>Http Proxy Password</key>
                            </entry>
                            <entry>
<key>et-state-cache</key>
                            </entry>
                            <entry>
<key>et-time-window</key>
<value>3 hours</value>
                            </entry>
                            <entry>
<key>et-initial-listing-target</key>
<value>all</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>30s</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>true</executionNodeRestricted>
                    <name>List files from FTP Server</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ListSFTP</type>
                </processors>
                <processors>
                    <id>71c7b247-461b-3c57-0000-000000000000</id>
                    <parentGroupId>cb696178-fc7a-3b34-0000-000000000000</parentGroupId>
                    <position>
                        <x>1355.4038762192035</x>
                        <y>963.8672698942445</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.1.0.1.0-12</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hostname</key>
<value>
    <name>Hostname</name>
</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>
    <name>Port</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>Private Key Path</key>
<value>
    <name>Private Key Path</name>
</value>
                            </entry>
                            <entry>
<key>Private Key Passphrase</key>
<value>
    <name>Private Key Passphrase</name>
</value>
                            </entry>
                            <entry>
<key>Remote Path</key>
<value>
    <name>Remote Path</name>
</value>
                            </entry>
                            <entry>
<key>Create Directory</key>
<value>
    <name>Create Directory</name>
</value>
                            </entry>
                            <entry>
<key>Disable Directory Listing</key>
<value>
    <name>Disable Directory Listing</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>
    <name>Data Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution</key>
<value>
    <name>Conflict Resolution</name>
</value>
                            </entry>
                            <entry>
<key>Reject Zero-Byte Files</key>
<value>
    <name>Reject Zero-Byte Files</name>
</value>
                            </entry>
                            <entry>
<key>Dot Rename</key>
<value>
    <name>Dot Rename</name>
</value>
                            </entry>
                            <entry>
<key>Temporary Filename</key>
<value>
    <name>Temporary Filename</name>
</value>
                            </entry>
                            <entry>
<key>Host Key File</key>
<value>
    <name>Host Key File</name>
</value>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
<value>
    <name>Last Modified Time</name>
</value>
                            </entry>
                            <entry>
<key>Permissions</key>
<value>
    <name>Permissions</name>
</value>
                            </entry>
                            <entry>
<key>Remote Owner</key>
<value>
    <name>Remote Owner</name>
</value>
                            </entry>
                            <entry>
<key>Remote Group</key>
<value>
    <name>Remote Group</name>
</value>
                            </entry>
                            <entry>
<key>Strict Host Key Checking</key>
<value>
    <name>Strict Host Key Checking</name>
</value>
                            </entry>
                            <entry>
<key>Send Keep Alive On Timeout</key>
<value>
    <name>Send Keep Alive On Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Use Compression</key>
<value>
    <name>Use Compression</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Http Proxy Username</key>
<value>
    <name>Http Proxy Username</name>
</value>
                            </entry>
                            <entry>
<key>Http Proxy Password</key>
<value>
    <name>Http Proxy Password</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hostname</key>
<value>${ftp.server.hostname}</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>${ftp.server.port}</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>${ftp.username}</value>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>Private Key Path</key>
                            </entry>
                            <entry>
<key>Private Key Passphrase</key>
                            </entry>
                            <entry>
<key>Remote Path</key>
<value>${ftp.destination.path}</value>
                            </entry>
                            <entry>
<key>Create Directory</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Disable Directory Listing</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>500</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>Conflict Resolution</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>Reject Zero-Byte Files</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Dot Rename</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Temporary Filename</key>
                            </entry>
                            <entry>
<key>Host Key File</key>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
                            </entry>
                            <entry>
<key>Permissions</key>
                            </entry>
                            <entry>
<key>Remote Owner</key>
                            </entry>
                            <entry>
<key>Remote Group</key>
                            </entry>
                            <entry>
<key>Strict Host Key Checking</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Send Keep Alive On Timeout</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Compression</key>
<value>false</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>DIRECT</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Http Proxy Username</key>
                            </entry>
                            <entry>
<key>Http Proxy Password</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutSFTP</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>reject</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutSFTP</type>
                </processors>
                <processors>
                    <id>7b145d6f-9e33-3597-0000-000000000000</id>
                    <parentGroupId>cb696178-fc7a-3b34-0000-000000000000</parentGroupId>
                    <position>
                        <x>-38.60606688405426</x>
                        <y>641.1014867989392</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.1.0.1.0-12</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hostname</key>
<value>
    <name>Hostname</name>
</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>
    <name>Port</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>Private Key Path</key>
<value>
    <name>Private Key Path</name>
</value>
                            </entry>
                            <entry>
<key>Private Key Passphrase</key>
<value>
    <name>Private Key Passphrase</name>
</value>
                            </entry>
                            <entry>
<key>Remote Path</key>
<value>
    <name>Remote Path</name>
</value>
                            </entry>
                            <entry>
<key>File Filter Regex</key>
<value>
    <name>File Filter Regex</name>
</value>
                            </entry>
                            <entry>
<key>Path Filter Regex</key>
<value>
    <name>Path Filter Regex</name>
</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>
    <name>Polling Interval</name>
</value>
                            </entry>
                            <entry>
<key>Search Recursively</key>
<value>
    <name>Search Recursively</name>
</value>
                            </entry>
                            <entry>
<key>follow-symlink</key>
<value>
    <name>follow-symlink</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Dotted Files</key>
<value>
    <name>Ignore Dotted Files</name>
</value>
                            </entry>
                            <entry>
<key>Delete Original</key>
<value>
    <name>Delete Original</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>
    <name>Data Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Host Key File</key>
<value>
    <name>Host Key File</name>
</value>
                            </entry>
                            <entry>
<key>Max Selects</key>
<value>
    <name>Max Selects</name>
</value>
                            </entry>
                            <entry>
<key>Remote Poll Batch Size</key>
<value>
    <name>Remote Poll Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Strict Host Key Checking</key>
<value>
    <name>Strict Host Key Checking</name>
</value>
                            </entry>
                            <entry>
<key>Send Keep Alive On Timeout</key>
<value>
    <name>Send Keep Alive On Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Use Compression</key>
<value>
    <name>Use Compression</name>
</value>
                            </entry>
                            <entry>
<key>Use Natural Ordering</key>
<value>
    <name>Use Natural Ordering</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Http Proxy Username</key>
<value>
    <name>Http Proxy Username</name>
</value>
                            </entry>
                            <entry>
<key>Http Proxy Password</key>
<value>
    <name>Http Proxy Password</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hostname</key>
<value>${ftp.server.hostname}</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>${ftp.server.port}</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>${ftp.username}</value>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>Private Key Path</key>
                            </entry>
                            <entry>
<key>Private Key Passphrase</key>
                            </entry>
                            <entry>
<key>Remote Path</key>
<value>${ftp.remote.path}</value>
                            </entry>
                            <entry>
<key>File Filter Regex</key>
                            </entry>
                            <entry>
<key>Path Filter Regex</key>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>60 sec</value>
                            </entry>
                            <entry>
<key>Search Recursively</key>
<value>false</value>
                            </entry>
                            <entry>
<key>follow-symlink</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Ignore Dotted Files</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Delete Original</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>Host Key File</key>
                            </entry>
                            <entry>
<key>Max Selects</key>
<value>100</value>
                            </entry>
                            <entry>
<key>Remote Poll Batch Size</key>
<value>5000</value>
                            </entry>
                            <entry>
<key>Strict Host Key Checking</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Send Keep Alive On Timeout</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Compression</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Use Natural Ordering</key>
<value>false</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>DIRECT</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Http Proxy Username</key>
                            </entry>
                            <entry>
<key>Http Proxy Password</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GetSFTP</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GetSFTP</type>
                </processors>
                <processors>
                    <id>80b58c8c-5124-37e5-0000-000000000000</id>
                    <parentGroupId>cb696178-fc7a-3b34-0000-000000000000</parentGroupId>
                    <position>
                        <x>1158.72671571264</x>
                        <y>695.5369043719315</y>
                    </position>
                    <bundle>
                        <artifact>nifi-hadoop-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.1.0.1.0-12</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>
    <name>Hadoop Configuration Resources</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
<value>
    <name>Kerberos Principal</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
<value>
    <name>Kerberos Keytab</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>
    <name>Kerberos Relogin Period</name>
</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
<value>
    <name>Additional Classpath Resources</name>
</value>
                            </entry>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Block Size</key>
<value>
    <name>Block Size</name>
</value>
                            </entry>
                            <entry>
<key>IO Buffer Size</key>
<value>
    <name>IO Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replication</key>
<value>
    <name>Replication</name>
</value>
                            </entry>
                            <entry>
<key>Permissions umask</key>
<value>
    <name>Permissions umask</name>
</value>
                            </entry>
                            <entry>
<key>Remote Owner</key>
<value>
    <name>Remote Owner</name>
</value>
                            </entry>
                            <entry>
<key>Remote Group</key>
<value>
    <name>Remote Group</name>
</value>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>
    <name>Compression codec</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>4 hours</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
                            </entry>
                            <entry>
<key>Directory</key>
<value>${hdfs.destination.dir}</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>replace</value>
                            </entry>
                            <entry>
<key>Block Size</key>
                            </entry>
                            <entry>
<key>IO Buffer Size</key>
                            </entry>
                            <entry>
<key>Replication</key>
                            </entry>
                            <entry>
<key>Permissions umask</key>
                            </entry>
                            <entry>
<key>Remote Owner</key>
                            </entry>
                            <entry>
<key>Remote Group</key>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>NONE</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutHDFS</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
                </processors>
                <processors>
                    <id>97026731-e0ad-3563-0000-000000000000</id>
                    <parentGroupId>cb696178-fc7a-3b34-0000-000000000000</parentGroupId>
                    <position>
                        <x>-31.24403125347112</x>
                        <y>158.5345999622798</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.1.0.1.0-12</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Base Path</key>
<value>
    <name>Base Path</name>
</value>
                            </entry>
                            <entry>
<key>Listening Port</key>
<value>
    <name>Listening Port</name>
</value>
                            </entry>
                            <entry>
<key>Max Data to Receive per Second</key>
<value>
    <name>Max Data to Receive per Second</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Authorized DN Pattern</key>
<value>
    <name>Authorized DN Pattern</name>
</value>
                            </entry>
                            <entry>
<key>Max Unconfirmed Flowfile Time</key>
<value>
    <name>Max Unconfirmed Flowfile Time</name>
</value>
                            </entry>
                            <entry>
<key>HTTP Headers to receive as Attributes (Regex)</key>
<value>
    <name>HTTP Headers to receive as Attributes (Regex)</name>
</value>
                            </entry>
                            <entry>
<key>Return Code</key>
<value>
    <name>Return Code</name>
</value>
                            </entry>
                            <entry>
<key>multipart-request-max-size</key>
<value>
    <name>multipart-request-max-size</name>
</value>
                            </entry>
                            <entry>
<key>multipart-read-buffer-size</key>
<value>
    <name>multipart-read-buffer-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Base Path</key>
<value>lanzaFTP</value>
                            </entry>
                            <entry>
<key>Listening Port</key>
<value>9999</value>
                            </entry>
                            <entry>
<key>Max Data to Receive per Second</key>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Authorized DN Pattern</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Max Unconfirmed Flowfile Time</key>
<value>60 secs</value>
                            </entry>
                            <entry>
<key>HTTP Headers to receive as Attributes (Regex)</key>
                            </entry>
                            <entry>
<key>Return Code</key>
<value>200</value>
                            </entry>
                            <entry>
<key>multipart-request-max-size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>multipart-read-buffer-size</key>
<value>512 KB</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ListenHTTP</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ListenHTTP</type>
                </processors>
                <processors>
                    <id>a993156c-2ce4-3bd1-0000-000000000000</id>
                    <parentGroupId>cb696178-fc7a-3b34-0000-000000000000</parentGroupId>
                    <position>
                        <x>1158.72671571264</x>
                        <y>477.92900454137055</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.1.0.1.0-12</version>
                    </bundle>
                    <config>
                        <bulletinLevel>DEBUG</bulletinLevel>
                        <comments>This will pull the files specified by the RouteOnAttribute processor.
The relationships permission.denied is routed to another processor so the user can get the issues fixed and fetch the file at a later date.
The relationship  not.found is also routed to another processor so the user is able to understand why an expected file isn't fetched.</comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hostname</key>
<value>
    <name>Hostname</name>
</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>
    <name>Port</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>Private Key Path</key>
<value>
    <name>Private Key Path</name>
</value>
                            </entry>
                            <entry>
<key>Private Key Passphrase</key>
<value>
    <name>Private Key Passphrase</name>
</value>
                            </entry>
                            <entry>
<key>Remote File</key>
<value>
    <name>Remote File</name>
</value>
                            </entry>
                            <entry>
<key>Completion Strategy</key>
<value>
    <name>Completion Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Move Destination Directory</key>
<value>
    <name>Move Destination Directory</name>
</value>
                            </entry>
                            <entry>
<key>Create Directory</key>
<value>
    <name>Create Directory</name>
</value>
                            </entry>
                            <entry>
<key>Disable Directory Listing</key>
<value>
    <name>Disable Directory Listing</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>
    <name>Data Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Send Keep Alive On Timeout</key>
<value>
    <name>Send Keep Alive On Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Host Key File</key>
<value>
    <name>Host Key File</name>
</value>
                            </entry>
                            <entry>
<key>Strict Host Key Checking</key>
<value>
    <name>Strict Host Key Checking</name>
</value>
                            </entry>
                            <entry>
<key>Use Compression</key>
<value>
    <name>Use Compression</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Http Proxy Username</key>
<value>
    <name>Http Proxy Username</name>
</value>
                            </entry>
                            <entry>
<key>Http Proxy Password</key>
<value>
    <name>Http Proxy Password</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hostname</key>
<value>${ftp.server.hostname}</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>${ftp.server.port}</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>${ftp.username}</value>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>Private Key Path</key>
                            </entry>
                            <entry>
<key>Private Key Passphrase</key>
                            </entry>
                            <entry>
<key>Remote File</key>
<value>${path}/${filename}</value>
                            </entry>
                            <entry>
<key>Completion Strategy</key>
<value>None</value>
                            </entry>
                            <entry>
<key>Move Destination Directory</key>
                            </entry>
                            <entry>
<key>Create Directory</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Disable Directory Listing</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>Send Keep Alive On Timeout</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Host Key File</key>
                            </entry>
                            <entry>
<key>Strict Host Key Checking</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Use Compression</key>
<value>false</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>DIRECT</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Http Proxy Username</key>
                            </entry>
                            <entry>
<key>Http Proxy Password</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>FetchSFTP</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>comms.failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>not.found</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>permission.denied</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.FetchSFTP</type>
                </processors>
                <processors>
                    <id>e840b63c-91f2-3946-0000-000000000000</id>
                    <parentGroupId>cb696178-fc7a-3b34-0000-000000000000</parentGroupId>
                    <position>
                        <x>545.429664024494</x>
                        <y>488.5207208375083</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.1.0.1.0-12</version>
                    </bundle>
                    <config>
                        <bulletinLevel>INFO</bulletinLevel>
                        <comments>We're using the RouteOnAttribute to select only the nifi-app  log files for each day
All other files in the directory are being ignored for this example.</comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>filetofetch</key>
<value>
    <name>filetofetch</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>filetofetch</key>
<value>${filename:contains('nifi-app_')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>1 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Filter &amp; Select file to fetch from FTP</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>filetofetch</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
            </contents>
            <name>FTP Example</name>
            <variables>
                <entry>
                    <key>hdfs.destination.dir</key>
                    <value>/nifi-examples/ftp</value>
                </entry>
                <entry>
                    <key>ftp.remote.path</key>
                    <value>upload</value>
                </entry>
                <entry>
                    <key>ftp.destination.path</key>
                    <value>upload</value>
                </entry>
                <entry>
                    <key>ftp.username</key>
                    <value>nififtpuser</value>
                </entry>
                <entry>
                    <key>ftp.server.port</key>
                    <value>22</value>
                </entry>
                <entry>
                    <key>ftp.server.hostname</key>
                    <value>rarana-nifi-1.vpc.cloudera.com</value>
                </entry>
            </variables>
        </processGroups>
    </snippet>
    <timestamp>11/27/2019 07:37:55 PST</timestamp>
</template>
