nifi/templates/Nifi_Logs_Demo_and_Schema_Registry.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description>Process  Nifi logs, transform the entries to Avro using Schema Registry and  routes to Kafka based on Severity</description>
    <groupId>5a84564d-016e-1000-ca93-0167f4fe1919</groupId>
    <name>Nifi Logs Demo and Schema Registry</name>
    <snippet>
        <controllerServices>
            <id>5de61f3b-7f7a-3a6c-0000-000000000000</id>
            <parentGroupId>9266daef-09ac-3878-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.0.1.0.1.0-12</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Grok Pattern File</key>
                    <value>
                        <name>Grok Pattern File</name>
                    </value>
                </entry>
                <entry>
                    <key>Grok Expression</key>
                    <value>
                        <name>Grok Expression</name>
                    </value>
                </entry>
                <entry>
                    <key>no-match-behavior</key>
                    <value>
                        <name>no-match-behavior</name>
                    </value>
                </entry>
            </descriptors>
            <name>GrokReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>08591e82-8a4a-3a3d-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Grok Pattern File</key>
                </entry>
                <entry>
                    <key>Grok Expression</key>
                    <value>%{TIMESTAMP_ISO8601:timestamp} %{LOGLEVEL:level} %{DATA:class}: %{GREEDYDATA:message}</value>
                </entry>
                <entry>
                    <key>no-match-behavior</key>
                    <value>append-to-previous-message</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.grok.GrokReader</type>
        </controllerServices>
        <controllerServices>
            <id>7d941bbd-1f71-3faf-0000-000000000000</id>
            <parentGroupId>9266daef-09ac-3878-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.0.1.0.1.0-12</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>08591e82-8a4a-3a3d-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                </entry>
                <entry>
                    <key>output-grouping</key>
                </entry>
                <entry>
                    <key>compression-format</key>
                </entry>
                <entry>
                    <key>compression-level</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <processGroups>
            <id>f6627061-893f-38b7-0000-000000000000</id>
            <parentGroupId>9266daef-09ac-3878-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments>Process  Nifi logs, transform the entries to Avro using Schema Registry and  routes to Kafka based on Severity</comments>
            <contents>
                <controllerServices>
                    <id>08591e82-8a4a-3a3d-0000-000000000000</id>
                    <parentGroupId>f6627061-893f-38b7-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-hwx-schema-registry-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.1.0.1.0-12</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>url</key>
                            <value>
<name>url</name>
                            </value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                            <value>
<name>cache-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>cache-expiration</key>
                            <value>
<name>cache-expiration</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>HortonworksSchemaRegistry</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>url</key>
                            <value>http://ip-10-0-1-153.us-west-2.compute.internal:7788/api/v1</value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                        </entry>
                        <entry>
                            <key>cache-expiration</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry</type>
                </controllerServices>
                <processGroups>
                    <id>1c20612b-d124-35b5-0000-000000000000</id>
                    <parentGroupId>f6627061-893f-38b7-0000-000000000000</parentGroupId>
                    <position>
                        <x>353.3407405975785</x>
                        <y>214.37113500608456</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>26961283-161f-3152-0000-000000000000</id>
                            <parentGroupId>1c20612b-d124-35b5-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>1c20612b-d124-35b5-0000-000000000000</groupId>
<id>48043ee3-68b7-3a45-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>1c20612b-d124-35b5-0000-000000000000</groupId>
<id>d441a6e4-3ed1-35f7-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>2ac2b5ed-ab15-3fe4-0000-000000000000</id>
                            <parentGroupId>1c20612b-d124-35b5-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>1c20612b-d124-35b5-0000-000000000000</groupId>
<id>c3f749ca-b484-3f76-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>1c20612b-d124-35b5-0000-000000000000</groupId>
<id>f03b2258-3601-3fc1-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>993fae34-56b0-3347-0000-000000000000</id>
                            <parentGroupId>1c20612b-d124-35b5-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>1c20612b-d124-35b5-0000-000000000000</groupId>
<id>48043ee3-68b7-3a45-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>1c20612b-d124-35b5-0000-000000000000</groupId>
<id>2563cf08-cc58-376b-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>c3f749ca-b484-3f76-0000-000000000000</id>
                            <parentGroupId>1c20612b-d124-35b5-0000-000000000000</parentGroupId>
                            <position>
<x>978.0000014502093</x>
<y>779.9999853507437</y>
                            </position>
                        </funnels>
                        <processors>
                            <id>2563cf08-cc58-376b-0000-000000000000</id>
                            <parentGroupId>1c20612b-d124-35b5-0000-000000000000</parentGroupId>
                            <position>
<x>397.0000014502092</x>
<y>367.9999853507437</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-2-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.0.1.0.1.0-12</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>5</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>
            <name>topic_type</name>
        </value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>
            <name>honor-transactions</name>
        </value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>
            <name>group.id</name>
        </value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>
            <name>auto.offset.reset</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>
            <name>header-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>
            <name>max.poll.records</name>
        </value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>
            <name>max-uncommit-offset-wait</name>
        </value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>
            <name>Communications Timeout</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${KAFKA0}</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>topic</key>
        <value>nifi-logs-error</value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>names</value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>nifi-error-logs-consumer</value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>latest</value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>header-name-regex</key>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>1 secs</value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>60 secs</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Consume ERROR events from Kafka</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_0</type>
                        </processors>
                        <processors>
                            <id>48043ee3-68b7-3a45-0000-000000000000</id>
                            <parentGroupId>1c20612b-d124-35b5-0000-000000000000</parentGroupId>
                            <position>
<x>967.0000014502093</x>
<y>456.9999853507437</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.0.1.0.1.0-12</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>SMTP Hostname</key>
        <value>
            <name>SMTP Hostname</name>
        </value>
    </entry>
    <entry>
        <key>SMTP Port</key>
        <value>
            <name>SMTP Port</name>
        </value>
    </entry>
    <entry>
        <key>SMTP Username</key>
        <value>
            <name>SMTP Username</name>
        </value>
    </entry>
    <entry>
        <key>SMTP Password</key>
        <value>
            <name>SMTP Password</name>
        </value>
    </entry>
    <entry>
        <key>SMTP Auth</key>
        <value>
            <name>SMTP Auth</name>
        </value>
    </entry>
    <entry>
        <key>SMTP TLS</key>
        <value>
            <name>SMTP TLS</name>
        </value>
    </entry>
    <entry>
        <key>SMTP Socket Factory</key>
        <value>
            <name>SMTP Socket Factory</name>
        </value>
    </entry>
    <entry>
        <key>SMTP X-Mailer Header</key>
        <value>
            <name>SMTP X-Mailer Header</name>
        </value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
        <value>
            <name>attribute-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>Content Type</key>
        <value>
            <name>Content Type</name>
        </value>
    </entry>
    <entry>
        <key>From</key>
        <value>
            <name>From</name>
        </value>
    </entry>
    <entry>
        <key>To</key>
        <value>
            <name>To</name>
        </value>
    </entry>
    <entry>
        <key>CC</key>
        <value>
            <name>CC</name>
        </value>
    </entry>
    <entry>
        <key>BCC</key>
        <value>
            <name>BCC</name>
        </value>
    </entry>
    <entry>
        <key>Subject</key>
        <value>
            <name>Subject</name>
        </value>
    </entry>
    <entry>
        <key>Message</key>
        <value>
            <name>Message</name>
        </value>
    </entry>
    <entry>
        <key>email-ff-content-as-message</key>
        <value>
            <name>email-ff-content-as-message</name>
        </value>
    </entry>
    <entry>
        <key>Attach File</key>
        <value>
            <name>Attach File</name>
        </value>
    </entry>
    <entry>
        <key>Include All Attributes In Message</key>
        <value>
            <name>Include All Attributes In Message</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>SMTP Hostname</key>
        <value>smtp.gmail.com</value>
    </entry>
    <entry>
        <key>SMTP Port</key>
        <value>25</value>
    </entry>
    <entry>
        <key>SMTP Username</key>
        <value>rafael.arana@cloudera.com</value>
    </entry>
    <entry>
        <key>SMTP Password</key>
    </entry>
    <entry>
        <key>SMTP Auth</key>
        <value>true</value>
    </entry>
    <entry>
        <key>SMTP TLS</key>
        <value>true</value>
    </entry>
    <entry>
        <key>SMTP Socket Factory</key>
        <value>javax.net.ssl.SSLSocketFactory</value>
    </entry>
    <entry>
        <key>SMTP X-Mailer Header</key>
        <value>NiFi</value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
    </entry>
    <entry>
        <key>Content Type</key>
        <value>text/plain</value>
    </entry>
    <entry>
        <key>From</key>
        <value>nifi-alerts@example.com</value>
    </entry>
    <entry>
        <key>To</key>
        <value>rafael.arana@cloudera.com</value>
    </entry>
    <entry>
        <key>CC</key>
    </entry>
    <entry>
        <key>BCC</key>
    </entry>
    <entry>
        <key>Subject</key>
        <value>Message from NiFi</value>
    </entry>
    <entry>
        <key>Message</key>
    </entry>
    <entry>
        <key>email-ff-content-as-message</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Attach File</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Include All Attributes In Message</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Send Email to Admin TEAM</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.PutEmail</type>
                        </processors>
                        <processors>
                            <id>d441a6e4-3ed1-35f7-0000-000000000000</id>
                            <parentGroupId>1c20612b-d124-35b5-0000-000000000000</parentGroupId>
                            <position>
<x>399.25933982911545</x>
<y>553.5223852530875</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-2-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.0.1.0.1.0-12</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>5</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>
            <name>topic_type</name>
        </value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>
            <name>honor-transactions</name>
        </value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>
            <name>group.id</name>
        </value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>
            <name>auto.offset.reset</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>
            <name>header-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>
            <name>max.poll.records</name>
        </value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>
            <name>max-uncommit-offset-wait</name>
        </value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>
            <name>Communications Timeout</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${KAFKA0}</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>topic</key>
        <value>nifi-logs-warn</value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>names</value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>nifi-warn-logs-consumer</value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>latest</value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>header-name-regex</key>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>1 secs</value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>60 secs</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Consume WARNING events from Kafka</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_0</type>
                        </processors>
                        <processors>
                            <id>f03b2258-3601-3fc1-0000-000000000000</id>
                            <parentGroupId>1c20612b-d124-35b5-0000-000000000000</parentGroupId>
                            <position>
<x>399.0000014502093</x>
<y>751.9999853507437</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-2-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.0.1.0.1.0-12</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>5</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>
            <name>topic_type</name>
        </value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>
            <name>honor-transactions</name>
        </value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>
            <name>group.id</name>
        </value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>
            <name>auto.offset.reset</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>
            <name>header-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>
            <name>max.poll.records</name>
        </value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>
            <name>max-uncommit-offset-wait</name>
        </value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>
            <name>Communications Timeout</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${KAFKA0}</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>topic</key>
        <value>nifi-logs-info</value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>names</value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>nifi-info-logs-consumer</value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>latest</value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>header-name-regex</key>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>1 secs</value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>60 secs</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Consume INFO events from Kafka</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_0</type>
                        </processors>
                    </contents>
                    <name>Generate Warnings and errors</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>a2589432-8044-36e9-0000-000000000000</id>
                    <parentGroupId>f6627061-893f-38b7-0000-000000000000</parentGroupId>
                    <position>
                        <x>352.00299499981406</x>
                        <y>-15.7109816407891</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>44ab6b23-6e57-3c87-0000-000000000000</id>
                            <parentGroupId>a2589432-8044-36e9-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>a2589432-8044-36e9-0000-000000000000</groupId>
<id>c47090c8-1538-3dfd-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>a2589432-8044-36e9-0000-000000000000</groupId>
<id>d3eb9621-87eb-3aff-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>90c1bad0-3b40-364f-0000-000000000000</id>
                            <parentGroupId>a2589432-8044-36e9-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>a2589432-8044-36e9-0000-000000000000</groupId>
<id>d3eb9621-87eb-3aff-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>a2589432-8044-36e9-0000-000000000000</groupId>
<id>48a52ec7-d833-3fdb-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c0fdae43-54da-389a-0000-000000000000</id>
                            <parentGroupId>a2589432-8044-36e9-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>a2589432-8044-36e9-0000-000000000000</groupId>
<id>48a52ec7-d833-3fdb-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>a2589432-8044-36e9-0000-000000000000</groupId>
<id>d982fc79-6e68-32bb-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c839ca2c-dd41-364e-0000-000000000000</id>
                            <parentGroupId>a2589432-8044-36e9-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>925.0000014502093</x>
<y>606.9633250636682</y>
                            </bends>
                            <bends>
<x>925.0000014502093</x>
<y>656.9633250636682</y>
                            </bends>
                            <destination>
<groupId>a2589432-8044-36e9-0000-000000000000</groupId>
<id>d3eb9621-87eb-3aff-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>a2589432-8044-36e9-0000-000000000000</groupId>
<id>d3eb9621-87eb-3aff-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e2336ac3-8978-356a-0000-000000000000</id>
                            <parentGroupId>a2589432-8044-36e9-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>a2589432-8044-36e9-0000-000000000000</groupId>
<id>bc4d064e-a900-3bef-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>info</selectedRelationships>
                            <source>
<groupId>a2589432-8044-36e9-0000-000000000000</groupId>
<id>c47090c8-1538-3dfd-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>eaf4020d-f126-3e8f-0000-000000000000</id>
                            <parentGroupId>a2589432-8044-36e9-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>a2589432-8044-36e9-0000-000000000000</groupId>
<id>364bc7af-e290-3bbb-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>error</selectedRelationships>
                            <source>
<groupId>a2589432-8044-36e9-0000-000000000000</groupId>
<id>c47090c8-1538-3dfd-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>f472fe43-f26b-3539-0000-000000000000</id>
                            <parentGroupId>a2589432-8044-36e9-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>a2589432-8044-36e9-0000-000000000000</groupId>
<id>324e07e9-07e5-3c87-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>warn</selectedRelationships>
                            <source>
<groupId>a2589432-8044-36e9-0000-000000000000</groupId>
<id>c47090c8-1538-3dfd-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <processGroups>
                            <id>2ddc1ed5-1edc-3801-0000-000000000000</id>
                            <parentGroupId>a2589432-8044-36e9-0000-000000000000</parentGroupId>
                            <position>
<x>352.00299499981406</x>
<y>-15.7109816407891</y>
                            </position>
                            <comments></comments>
                            <contents>
<connections>
    <id>1631cf19-1664-3374-0000-000000000000</id>
    <parentGroupId>2ddc1ed5-1edc-3801-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>2ddc1ed5-1edc-3801-0000-000000000000</groupId>
        <id>35ebe44a-1e23-360c-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>2ddc1ed5-1edc-3801-0000-000000000000</groupId>
        <id>09a784c5-8f82-349d-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>1cc93745-4c90-3164-0000-000000000000</id>
    <parentGroupId>2ddc1ed5-1edc-3801-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <bends>
        <x>900.0000014502093</x>
        <y>581.9633250636682</y>
    </bends>
    <bends>
        <x>900.0000014502093</x>
        <y>631.9633250636682</y>
    </bends>
    <destination>
        <groupId>2ddc1ed5-1edc-3801-0000-000000000000</groupId>
        <id>df131d51-876d-390f-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>failure</selectedRelationships>
    <source>
        <groupId>2ddc1ed5-1edc-3801-0000-000000000000</groupId>
        <id>df131d51-876d-390f-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>2f56447b-d4b7-30c7-0000-000000000000</id>
    <parentGroupId>2ddc1ed5-1edc-3801-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>2ddc1ed5-1edc-3801-0000-000000000000</groupId>
        <id>68c77a18-488a-387d-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>2ddc1ed5-1edc-3801-0000-000000000000</groupId>
        <id>df131d51-876d-390f-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>5c2a301d-11ef-3893-0000-000000000000</id>
    <parentGroupId>2ddc1ed5-1edc-3801-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>2ddc1ed5-1edc-3801-0000-000000000000</groupId>
        <id>f0099f01-68cc-3fd7-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>info</selectedRelationships>
    <source>
        <groupId>2ddc1ed5-1edc-3801-0000-000000000000</groupId>
        <id>68c77a18-488a-387d-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>67c04ca5-92f2-3767-0000-000000000000</id>
    <parentGroupId>2ddc1ed5-1edc-3801-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>2ddc1ed5-1edc-3801-0000-000000000000</groupId>
        <id>df131d51-876d-390f-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>2ddc1ed5-1edc-3801-0000-000000000000</groupId>
        <id>35ebe44a-1e23-360c-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>92bb430f-df1d-3485-0000-000000000000</id>
    <parentGroupId>2ddc1ed5-1edc-3801-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>2ddc1ed5-1edc-3801-0000-000000000000</groupId>
        <id>5701116f-e84d-3a7f-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>error</selectedRelationships>
    <source>
        <groupId>2ddc1ed5-1edc-3801-0000-000000000000</groupId>
        <id>68c77a18-488a-387d-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>c239ec99-d745-3877-0000-000000000000</id>
    <parentGroupId>2ddc1ed5-1edc-3801-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>2ddc1ed5-1edc-3801-0000-000000000000</groupId>
        <id>22469118-c2fb-3478-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>warn</selectedRelationships>
    <source>
        <groupId>2ddc1ed5-1edc-3801-0000-000000000000</groupId>
        <id>68c77a18-488a-387d-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<controllerServices>
    <id>5de61f3b-7f7a-3a6c-0000-000000000000</id>
    <parentGroupId>2ddc1ed5-1edc-3801-0000-000000000000</parentGroupId>
    <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.9.0.1.0.1.0-12</version>
    </bundle>
    <comments></comments>
    <descriptors>
        <entry>
            <key>schema-access-strategy</key>
            <value>
                <name>schema-access-strategy</name>
            </value>
        </entry>
        <entry>
            <key>schema-registry</key>
            <value>
                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                <name>schema-registry</name>
            </value>
        </entry>
        <entry>
            <key>schema-name</key>
            <value>
                <name>schema-name</name>
            </value>
        </entry>
        <entry>
            <key>schema-version</key>
            <value>
                <name>schema-version</name>
            </value>
        </entry>
        <entry>
            <key>schema-branch</key>
            <value>
                <name>schema-branch</name>
            </value>
        </entry>
        <entry>
            <key>schema-text</key>
            <value>
                <name>schema-text</name>
            </value>
        </entry>
        <entry>
            <key>Grok Pattern File</key>
            <value>
                <name>Grok Pattern File</name>
            </value>
        </entry>
        <entry>
            <key>Grok Expression</key>
            <value>
                <name>Grok Expression</name>
            </value>
        </entry>
        <entry>
            <key>no-match-behavior</key>
            <value>
                <name>no-match-behavior</name>
            </value>
        </entry>
    </descriptors>
    <name>GrokReader</name>
    <persistsState>false</persistsState>
    <properties>
        <entry>
            <key>schema-access-strategy</key>
            <value>schema-name</value>
        </entry>
        <entry>
            <key>schema-registry</key>
            <value>08591e82-8a4a-3a3d-0000-000000000000</value>
        </entry>
        <entry>
            <key>schema-name</key>
            <value>${schema.name}</value>
        </entry>
        <entry>
            <key>schema-version</key>
        </entry>
        <entry>
            <key>schema-branch</key>
        </entry>
        <entry>
            <key>schema-text</key>
            <value>${avro.schema}</value>
        </entry>
        <entry>
            <key>Grok Pattern File</key>
        </entry>
        <entry>
            <key>Grok Expression</key>
            <value>%{TIMESTAMP_ISO8601:timestamp} %{LOGLEVEL:level} %{DATA:class}: %{GREEDYDATA:message}</value>
        </entry>
        <entry>
            <key>no-match-behavior</key>
            <value>append-to-previous-message</value>
        </entry>
    </properties>
    <state>ENABLED</state>
    <type>org.apache.nifi.grok.GrokReader</type>
</controllerServices>
<controllerServices>
    <id>7d941bbd-1f71-3faf-0000-000000000000</id>
    <parentGroupId>2ddc1ed5-1edc-3801-0000-000000000000</parentGroupId>
    <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.9.0.1.0.1.0-12</version>
    </bundle>
    <comments></comments>
    <descriptors>
        <entry>
            <key>Schema Write Strategy</key>
            <value>
                <name>Schema Write Strategy</name>
            </value>
        </entry>
        <entry>
            <key>schema-cache</key>
            <value>
                <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                <name>schema-cache</name>
            </value>
        </entry>
        <entry>
            <key>schema-access-strategy</key>
            <value>
                <name>schema-access-strategy</name>
            </value>
        </entry>
        <entry>
            <key>schema-registry</key>
            <value>
                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                <name>schema-registry</name>
            </value>
        </entry>
        <entry>
            <key>schema-name</key>
            <value>
                <name>schema-name</name>
            </value>
        </entry>
        <entry>
            <key>schema-version</key>
            <value>
                <name>schema-version</name>
            </value>
        </entry>
        <entry>
            <key>schema-branch</key>
            <value>
                <name>schema-branch</name>
            </value>
        </entry>
        <entry>
            <key>schema-text</key>
            <value>
                <name>schema-text</name>
            </value>
        </entry>
        <entry>
            <key>Date Format</key>
            <value>
                <name>Date Format</name>
            </value>
        </entry>
        <entry>
            <key>Time Format</key>
            <value>
                <name>Time Format</name>
            </value>
        </entry>
        <entry>
            <key>Timestamp Format</key>
            <value>
                <name>Timestamp Format</name>
            </value>
        </entry>
        <entry>
            <key>Pretty Print JSON</key>
            <value>
                <name>Pretty Print JSON</name>
            </value>
        </entry>
        <entry>
            <key>suppress-nulls</key>
            <value>
                <name>suppress-nulls</name>
            </value>
        </entry>
        <entry>
            <key>output-grouping</key>
            <value>
                <name>output-grouping</name>
            </value>
        </entry>
        <entry>
            <key>compression-format</key>
            <value>
                <name>compression-format</name>
            </value>
        </entry>
        <entry>
            <key>compression-level</key>
            <value>
                <name>compression-level</name>
            </value>
        </entry>
    </descriptors>
    <name>JsonRecordSetWriter</name>
    <persistsState>false</persistsState>
    <properties>
        <entry>
            <key>Schema Write Strategy</key>
            <value>schema-name</value>
        </entry>
        <entry>
            <key>schema-cache</key>
        </entry>
        <entry>
            <key>schema-access-strategy</key>
            <value>schema-name</value>
        </entry>
        <entry>
            <key>schema-registry</key>
            <value>08591e82-8a4a-3a3d-0000-000000000000</value>
        </entry>
        <entry>
            <key>schema-name</key>
            <value>${schema.name}</value>
        </entry>
        <entry>
            <key>schema-version</key>
        </entry>
        <entry>
            <key>schema-branch</key>
        </entry>
        <entry>
            <key>schema-text</key>
            <value>${avro.schema}</value>
        </entry>
        <entry>
            <key>Date Format</key>
        </entry>
        <entry>
            <key>Time Format</key>
        </entry>
        <entry>
            <key>Timestamp Format</key>
        </entry>
        <entry>
            <key>Pretty Print JSON</key>
            <value>true</value>
        </entry>
        <entry>
            <key>suppress-nulls</key>
        </entry>
        <entry>
            <key>output-grouping</key>
        </entry>
        <entry>
            <key>compression-format</key>
        </entry>
        <entry>
            <key>compression-level</key>
        </entry>
    </properties>
    <state>ENABLED</state>
    <type>org.apache.nifi.json.JsonRecordSetWriter</type>
</controllerServices>
<processors>
    <id>09a784c5-8f82-349d-0000-000000000000</id>
    <parentGroupId>2ddc1ed5-1edc-3801-0000-000000000000</parentGroupId>
    <position>
        <x>445.00000145020937</x>
        <y>129.99998535074377</y>
    </position>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.9.0.1.0.1.0-12</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>tail-mode</key>
                <value>
                    <name>tail-mode</name>
                </value>
            </entry>
            <entry>
                <key>File to Tail</key>
                <value>
                    <name>File to Tail</name>
                </value>
            </entry>
            <entry>
                <key>Rolling Filename Pattern</key>
                <value>
                    <name>Rolling Filename Pattern</name>
                </value>
            </entry>
            <entry>
                <key>tail-base-directory</key>
                <value>
                    <name>tail-base-directory</name>
                </value>
            </entry>
            <entry>
                <key>Initial Start Position</key>
                <value>
                    <name>Initial Start Position</name>
                </value>
            </entry>
            <entry>
                <key>File Location</key>
                <value>
                    <name>File Location</name>
                </value>
            </entry>
            <entry>
                <key>tailfile-recursive-lookup</key>
                <value>
                    <name>tailfile-recursive-lookup</name>
                </value>
            </entry>
            <entry>
                <key>tailfile-lookup-frequency</key>
                <value>
                    <name>tailfile-lookup-frequency</name>
                </value>
            </entry>
            <entry>
                <key>tailfile-maximum-age</key>
                <value>
                    <name>tailfile-maximum-age</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>tail-mode</key>
                <value>Single file</value>
            </entry>
            <entry>
                <key>File to Tail</key>
                <value>/var/log/nifi/nifi-app.log</value>
            </entry>
            <entry>
                <key>Rolling Filename Pattern</key>
            </entry>
            <entry>
                <key>tail-base-directory</key>
            </entry>
            <entry>
                <key>Initial Start Position</key>
                <value>Beginning of File</value>
            </entry>
            <entry>
                <key>File Location</key>
                <value>Local</value>
            </entry>
            <entry>
                <key>tailfile-recursive-lookup</key>
                <value>false</value>
            </entry>
            <entry>
                <key>tailfile-lookup-frequency</key>
                <value>10 minutes</value>
            </entry>
            <entry>
                <key>tailfile-maximum-age</key>
                <value>24 hours</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>5 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>TailFile</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.TailFile</type>
</processors>
<processors>
    <id>22469118-c2fb-3478-0000-000000000000</id>
    <parentGroupId>2ddc1ed5-1edc-3801-0000-000000000000</parentGroupId>
    <position>
        <x>1565.9863117550813</x>
        <y>516.7572054782867</y>
    </position>
    <bundle>
        <artifact>nifi-kafka-2-0-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.9.0.1.0.1.0-12</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>bootstrap.servers</key>
                <value>
                    <name>bootstrap.servers</name>
                </value>
            </entry>
            <entry>
                <key>security.protocol</key>
                <value>
                    <name>security.protocol</name>
                </value>
            </entry>
            <entry>
                <key>sasl.kerberos.service.name</key>
                <value>
                    <name>sasl.kerberos.service.name</name>
                </value>
            </entry>
            <entry>
                <key>kerberos-credentials-service</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                    <name>kerberos-credentials-service</name>
                </value>
            </entry>
            <entry>
                <key>sasl.kerberos.principal</key>
                <value>
                    <name>sasl.kerberos.principal</name>
                </value>
            </entry>
            <entry>
                <key>sasl.kerberos.keytab</key>
                <value>
                    <name>sasl.kerberos.keytab</name>
                </value>
            </entry>
            <entry>
                <key>ssl.context.service</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                    <name>ssl.context.service</name>
                </value>
            </entry>
            <entry>
                <key>topic</key>
                <value>
                    <name>topic</name>
                </value>
            </entry>
            <entry>
                <key>acks</key>
                <value>
                    <name>acks</name>
                </value>
            </entry>
            <entry>
                <key>use-transactions</key>
                <value>
                    <name>use-transactions</name>
                </value>
            </entry>
            <entry>
                <key>attribute-name-regex</key>
                <value>
                    <name>attribute-name-regex</name>
                </value>
            </entry>
            <entry>
                <key>message-header-encoding</key>
                <value>
                    <name>message-header-encoding</name>
                </value>
            </entry>
            <entry>
                <key>kafka-key</key>
                <value>
                    <name>kafka-key</name>
                </value>
            </entry>
            <entry>
                <key>key-attribute-encoding</key>
                <value>
                    <name>key-attribute-encoding</name>
                </value>
            </entry>
            <entry>
                <key>message-demarcator</key>
                <value>
                    <name>message-demarcator</name>
                </value>
            </entry>
            <entry>
                <key>max.request.size</key>
                <value>
                    <name>max.request.size</name>
                </value>
            </entry>
            <entry>
                <key>ack.wait.time</key>
                <value>
                    <name>ack.wait.time</name>
                </value>
            </entry>
            <entry>
                <key>max.block.ms</key>
                <value>
                    <name>max.block.ms</name>
                </value>
            </entry>
            <entry>
                <key>partitioner.class</key>
                <value>
                    <name>partitioner.class</name>
                </value>
            </entry>
            <entry>
                <key>compression.type</key>
                <value>
                    <name>compression.type</name>
                </value>
            </entry>
            <entry>
                <key>client.id</key>
                <value>
                    <name>client.id</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>bootstrap.servers</key>
                <value>${KAFKA0}</value>
            </entry>
            <entry>
                <key>security.protocol</key>
                <value>PLAINTEXT</value>
            </entry>
            <entry>
                <key>sasl.kerberos.service.name</key>
            </entry>
            <entry>
                <key>kerberos-credentials-service</key>
            </entry>
            <entry>
                <key>sasl.kerberos.principal</key>
            </entry>
            <entry>
                <key>sasl.kerberos.keytab</key>
            </entry>
            <entry>
                <key>ssl.context.service</key>
            </entry>
            <entry>
                <key>topic</key>
                <value>nifi-logs-warn</value>
            </entry>
            <entry>
                <key>acks</key>
                <value>0</value>
            </entry>
            <entry>
                <key>use-transactions</key>
                <value>false</value>
            </entry>
            <entry>
                <key>attribute-name-regex</key>
            </entry>
            <entry>
                <key>message-header-encoding</key>
                <value>UTF-8</value>
            </entry>
            <entry>
                <key>kafka-key</key>
            </entry>
            <entry>
                <key>key-attribute-encoding</key>
                <value>utf-8</value>
            </entry>
            <entry>
                <key>message-demarcator</key>
            </entry>
            <entry>
                <key>max.request.size</key>
                <value>1 MB</value>
            </entry>
            <entry>
                <key>ack.wait.time</key>
                <value>5 secs</value>
            </entry>
            <entry>
                <key>max.block.ms</key>
                <value>5 sec</value>
            </entry>
            <entry>
                <key>partitioner.class</key>
                <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
            </entry>
            <entry>
                <key>compression.type</key>
                <value>none</value>
            </entry>
            <entry>
                <key>client.id</key>
                <value>nifi-warn-logs-producer</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>Publish Warnings to Kafka </name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_0</type>
</processors>
<processors>
    <id>35ebe44a-1e23-360c-0000-000000000000</id>
    <parentGroupId>2ddc1ed5-1edc-3801-0000-000000000000</parentGroupId>
    <position>
        <x>445.00000145020937</x>
        <y>339.62266276846583</y>
    </position>
    <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.9.0.1.0.1.0-12</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Delete Attributes Expression</key>
                <value>
                    <name>Delete Attributes Expression</name>
                </value>
            </entry>
            <entry>
                <key>Store State</key>
                <value>
                    <name>Store State</name>
                </value>
            </entry>
            <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                    <name>Stateful Variables Initial Value</name>
                </value>
            </entry>
            <entry>
                <key>canonical-value-lookup-cache-size</key>
                <value>
                    <name>canonical-value-lookup-cache-size</name>
                </value>
            </entry>
            <entry>
                <key>schema.name</key>
                <value>
                    <name>schema.name</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Delete Attributes Expression</key>
            </entry>
            <entry>
                <key>Store State</key>
                <value>Do not store state</value>
            </entry>
            <entry>
                <key>Stateful Variables Initial Value</key>
            </entry>
            <entry>
                <key>canonical-value-lookup-cache-size</key>
                <value>100</value>
            </entry>
            <entry>
                <key>schema.name</key>
                <value>nifi-logs</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>Set schema.name = nifi-logs</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
</processors>
<processors>
    <id>5701116f-e84d-3a7f-0000-000000000000</id>
    <parentGroupId>2ddc1ed5-1edc-3801-0000-000000000000</parentGroupId>
    <position>
        <x>1562.4717853878938</x>
        <y>318.7879061618804</y>
    </position>
    <bundle>
        <artifact>nifi-kafka-2-0-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.9.0.1.0.1.0-12</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>bootstrap.servers</key>
                <value>
                    <name>bootstrap.servers</name>
                </value>
            </entry>
            <entry>
                <key>security.protocol</key>
                <value>
                    <name>security.protocol</name>
                </value>
            </entry>
            <entry>
                <key>sasl.kerberos.service.name</key>
                <value>
                    <name>sasl.kerberos.service.name</name>
                </value>
            </entry>
            <entry>
                <key>kerberos-credentials-service</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                    <name>kerberos-credentials-service</name>
                </value>
            </entry>
            <entry>
                <key>sasl.kerberos.principal</key>
                <value>
                    <name>sasl.kerberos.principal</name>
                </value>
            </entry>
            <entry>
                <key>sasl.kerberos.keytab</key>
                <value>
                    <name>sasl.kerberos.keytab</name>
                </value>
            </entry>
            <entry>
                <key>ssl.context.service</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                    <name>ssl.context.service</name>
                </value>
            </entry>
            <entry>
                <key>topic</key>
                <value>
                    <name>topic</name>
                </value>
            </entry>
            <entry>
                <key>acks</key>
                <value>
                    <name>acks</name>
                </value>
            </entry>
            <entry>
                <key>use-transactions</key>
                <value>
                    <name>use-transactions</name>
                </value>
            </entry>
            <entry>
                <key>attribute-name-regex</key>
                <value>
                    <name>attribute-name-regex</name>
                </value>
            </entry>
            <entry>
                <key>message-header-encoding</key>
                <value>
                    <name>message-header-encoding</name>
                </value>
            </entry>
            <entry>
                <key>kafka-key</key>
                <value>
                    <name>kafka-key</name>
                </value>
            </entry>
            <entry>
                <key>key-attribute-encoding</key>
                <value>
                    <name>key-attribute-encoding</name>
                </value>
            </entry>
            <entry>
                <key>message-demarcator</key>
                <value>
                    <name>message-demarcator</name>
                </value>
            </entry>
            <entry>
                <key>max.request.size</key>
                <value>
                    <name>max.request.size</name>
                </value>
            </entry>
            <entry>
                <key>ack.wait.time</key>
                <value>
                    <name>ack.wait.time</name>
                </value>
            </entry>
            <entry>
                <key>max.block.ms</key>
                <value>
                    <name>max.block.ms</name>
                </value>
            </entry>
            <entry>
                <key>partitioner.class</key>
                <value>
                    <name>partitioner.class</name>
                </value>
            </entry>
            <entry>
                <key>compression.type</key>
                <value>
                    <name>compression.type</name>
                </value>
            </entry>
            <entry>
                <key>client.id</key>
                <value>
                    <name>client.id</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>bootstrap.servers</key>
                <value>${KAFKA0}</value>
            </entry>
            <entry>
                <key>security.protocol</key>
                <value>PLAINTEXT</value>
            </entry>
            <entry>
                <key>sasl.kerberos.service.name</key>
            </entry>
            <entry>
                <key>kerberos-credentials-service</key>
            </entry>
            <entry>
                <key>sasl.kerberos.principal</key>
            </entry>
            <entry>
                <key>sasl.kerberos.keytab</key>
            </entry>
            <entry>
                <key>ssl.context.service</key>
            </entry>
            <entry>
                <key>topic</key>
                <value>nifi-logs-error</value>
            </entry>
            <entry>
                <key>acks</key>
                <value>0</value>
            </entry>
            <entry>
                <key>use-transactions</key>
                <value>false</value>
            </entry>
            <entry>
                <key>attribute-name-regex</key>
            </entry>
            <entry>
                <key>message-header-encoding</key>
                <value>UTF-8</value>
            </entry>
            <entry>
                <key>kafka-key</key>
            </entry>
            <entry>
                <key>key-attribute-encoding</key>
                <value>utf-8</value>
            </entry>
            <entry>
                <key>message-demarcator</key>
            </entry>
            <entry>
                <key>max.request.size</key>
                <value>1 MB</value>
            </entry>
            <entry>
                <key>ack.wait.time</key>
                <value>5 secs</value>
            </entry>
            <entry>
                <key>max.block.ms</key>
                <value>5 sec</value>
            </entry>
            <entry>
                <key>partitioner.class</key>
                <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
            </entry>
            <entry>
                <key>compression.type</key>
                <value>none</value>
            </entry>
            <entry>
                <key>client.id</key>
                <value>nifi-error-logs-producer</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>Publish Errors to Kafka </name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_0</type>
</processors>
<processors>
    <id>68c77a18-488a-387d-0000-000000000000</id>
    <parentGroupId>2ddc1ed5-1edc-3801-0000-000000000000</parentGroupId>
    <position>
        <x>945.0265517431781</x>
        <y>354.61622768913185</y>
    </position>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.9.0.1.0.1.0-12</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Routing Strategy</key>
                <value>
                    <name>Routing Strategy</name>
                </value>
            </entry>
            <entry>
                <key>error</key>
                <value>
                    <name>error</name>
                </value>
            </entry>
            <entry>
                <key>info</key>
                <value>
                    <name>info</name>
                </value>
            </entry>
            <entry>
                <key>warn</key>
                <value>
                    <name>warn</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Routing Strategy</key>
                <value>Route to Property name</value>
            </entry>
            <entry>
                <key>error</key>
                <value>${log_level:equals('ERROR')}</value>
            </entry>
            <entry>
                <key>info</key>
                <value>${log_level:equals('INFO')}</value>
            </entry>
            <entry>
                <key>warn</key>
                <value>${log_level:equals('WARN')}</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>RouteOnAttribute</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
</processors>
<processors>
    <id>df131d51-876d-390f-0000-000000000000</id>
    <parentGroupId>2ddc1ed5-1edc-3801-0000-000000000000</parentGroupId>
    <position>
        <x>445.00000145020937</x>
        <y>541.9633250636682</y>
    </position>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.9.0.1.0.1.0-12</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>record-reader</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                    <name>record-reader</name>
                </value>
            </entry>
            <entry>
                <key>record-writer</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                    <name>record-writer</name>
                </value>
            </entry>
            <entry>
                <key>log_level</key>
                <value>
                    <name>log_level</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>record-reader</key>
                <value>5de61f3b-7f7a-3a6c-0000-000000000000</value>
            </entry>
            <entry>
                <key>record-writer</key>
                <value>7d941bbd-1f71-3faf-0000-000000000000</value>
            </entry>
            <entry>
                <key>log_level</key>
                <value>/level</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>PartitionRecord</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.PartitionRecord</type>
</processors>
<processors>
    <id>f0099f01-68cc-3fd7-0000-000000000000</id>
    <parentGroupId>2ddc1ed5-1edc-3801-0000-000000000000</parentGroupId>
    <position>
        <x>1163.4041584347688</x>
        <y>640.4617342868804</y>
    </position>
    <bundle>
        <artifact>nifi-kafka-2-0-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.9.0.1.0.1.0-12</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>bootstrap.servers</key>
                <value>
                    <name>bootstrap.servers</name>
                </value>
            </entry>
            <entry>
                <key>security.protocol</key>
                <value>
                    <name>security.protocol</name>
                </value>
            </entry>
            <entry>
                <key>sasl.kerberos.service.name</key>
                <value>
                    <name>sasl.kerberos.service.name</name>
                </value>
            </entry>
            <entry>
                <key>kerberos-credentials-service</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                    <name>kerberos-credentials-service</name>
                </value>
            </entry>
            <entry>
                <key>sasl.kerberos.principal</key>
                <value>
                    <name>sasl.kerberos.principal</name>
                </value>
            </entry>
            <entry>
                <key>sasl.kerberos.keytab</key>
                <value>
                    <name>sasl.kerberos.keytab</name>
                </value>
            </entry>
            <entry>
                <key>ssl.context.service</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                    <name>ssl.context.service</name>
                </value>
            </entry>
            <entry>
                <key>topic</key>
                <value>
                    <name>topic</name>
                </value>
            </entry>
            <entry>
                <key>acks</key>
                <value>
                    <name>acks</name>
                </value>
            </entry>
            <entry>
                <key>use-transactions</key>
                <value>
                    <name>use-transactions</name>
                </value>
            </entry>
            <entry>
                <key>attribute-name-regex</key>
                <value>
                    <name>attribute-name-regex</name>
                </value>
            </entry>
            <entry>
                <key>message-header-encoding</key>
                <value>
                    <name>message-header-encoding</name>
                </value>
            </entry>
            <entry>
                <key>kafka-key</key>
                <value>
                    <name>kafka-key</name>
                </value>
            </entry>
            <entry>
                <key>key-attribute-encoding</key>
                <value>
                    <name>key-attribute-encoding</name>
                </value>
            </entry>
            <entry>
                <key>message-demarcator</key>
                <value>
                    <name>message-demarcator</name>
                </value>
            </entry>
            <entry>
                <key>max.request.size</key>
                <value>
                    <name>max.request.size</name>
                </value>
            </entry>
            <entry>
                <key>ack.wait.time</key>
                <value>
                    <name>ack.wait.time</name>
                </value>
            </entry>
            <entry>
                <key>max.block.ms</key>
                <value>
                    <name>max.block.ms</name>
                </value>
            </entry>
            <entry>
                <key>partitioner.class</key>
                <value>
                    <name>partitioner.class</name>
                </value>
            </entry>
            <entry>
                <key>compression.type</key>
                <value>
                    <name>compression.type</name>
                </value>
            </entry>
            <entry>
                <key>client.id</key>
                <value>
                    <name>client.id</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>bootstrap.servers</key>
                <value>${KAFKA0}</value>
            </entry>
            <entry>
                <key>security.protocol</key>
                <value>PLAINTEXT</value>
            </entry>
            <entry>
                <key>sasl.kerberos.service.name</key>
            </entry>
            <entry>
                <key>kerberos-credentials-service</key>
            </entry>
            <entry>
                <key>sasl.kerberos.principal</key>
            </entry>
            <entry>
                <key>sasl.kerberos.keytab</key>
            </entry>
            <entry>
                <key>ssl.context.service</key>
            </entry>
            <entry>
                <key>topic</key>
                <value>nifi-logs-info</value>
            </entry>
            <entry>
                <key>acks</key>
                <value>0</value>
            </entry>
            <entry>
                <key>use-transactions</key>
                <value>false</value>
            </entry>
            <entry>
                <key>attribute-name-regex</key>
            </entry>
            <entry>
                <key>message-header-encoding</key>
                <value>UTF-8</value>
            </entry>
            <entry>
                <key>kafka-key</key>
            </entry>
            <entry>
                <key>key-attribute-encoding</key>
                <value>utf-8</value>
            </entry>
            <entry>
                <key>message-demarcator</key>
            </entry>
            <entry>
                <key>max.request.size</key>
                <value>1 MB</value>
            </entry>
            <entry>
                <key>ack.wait.time</key>
                <value>5 secs</value>
            </entry>
            <entry>
                <key>max.block.ms</key>
                <value>5 sec</value>
            </entry>
            <entry>
                <key>partitioner.class</key>
                <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
            </entry>
            <entry>
                <key>compression.type</key>
                <value>none</value>
            </entry>
            <entry>
                <key>client.id</key>
                <value>nifi-info-logs-producer</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>Publish Info to Kafka </name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_0</type>
</processors>
                            </contents>
                            <name>Capture Logs and send to kafka</name>
                            <variables/>
                        </processGroups>
                        <processors>
                            <id>324e07e9-07e5-3c87-0000-000000000000</id>
                            <parentGroupId>a2589432-8044-36e9-0000-000000000000</parentGroupId>
                            <position>
<x>1590.9863117550813</x>
<y>541.7572054782867</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-2-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.0.1.0.1.0-12</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>acks</key>
        <value>
            <name>acks</name>
        </value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>
            <name>use-transactions</name>
        </value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
        <value>
            <name>attribute-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>kafka-key</key>
        <value>
            <name>kafka-key</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>
            <name>max.request.size</name>
        </value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>
            <name>ack.wait.time</name>
        </value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>
            <name>max.block.ms</name>
        </value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>
            <name>partitioner.class</name>
        </value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>
            <name>compression.type</name>
        </value>
    </entry>
    <entry>
        <key>client.id</key>
        <value>
            <name>client.id</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${KAFKA0}</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>topic</key>
        <value>nifi-logs-warn</value>
    </entry>
    <entry>
        <key>acks</key>
        <value>0</value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>kafka-key</key>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>5 sec</value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>none</value>
    </entry>
    <entry>
        <key>client.id</key>
        <value>nifi-warn-logs-producer</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Publish Warnings to Kafka </name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_0</type>
                        </processors>
                        <processors>
                            <id>364bc7af-e290-3bbb-0000-000000000000</id>
                            <parentGroupId>a2589432-8044-36e9-0000-000000000000</parentGroupId>
                            <position>
<x>1587.4717853878938</x>
<y>343.7879061618804</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-2-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.0.1.0.1.0-12</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>acks</key>
        <value>
            <name>acks</name>
        </value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>
            <name>use-transactions</name>
        </value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
        <value>
            <name>attribute-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>kafka-key</key>
        <value>
            <name>kafka-key</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>
            <name>max.request.size</name>
        </value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>
            <name>ack.wait.time</name>
        </value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>
            <name>max.block.ms</name>
        </value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>
            <name>partitioner.class</name>
        </value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>
            <name>compression.type</name>
        </value>
    </entry>
    <entry>
        <key>client.id</key>
        <value>
            <name>client.id</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${KAFKA0}</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>topic</key>
        <value>nifi-logs-error</value>
    </entry>
    <entry>
        <key>acks</key>
        <value>0</value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>kafka-key</key>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>5 sec</value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>none</value>
    </entry>
    <entry>
        <key>client.id</key>
        <value>nifi-error-logs-producer</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Publish Errors to Kafka </name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_0</type>
                        </processors>
                        <processors>
                            <id>48a52ec7-d833-3fdb-0000-000000000000</id>
                            <parentGroupId>a2589432-8044-36e9-0000-000000000000</parentGroupId>
                            <position>
<x>470.00000145020937</x>
<y>364.62266276846583</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.0.1.0.1.0-12</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>schema.name</key>
        <value>
            <name>schema.name</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>schema.name</key>
        <value>nifi-logs</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Set schema.name = nifi-logs</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>bc4d064e-a900-3bef-0000-000000000000</id>
                            <parentGroupId>a2589432-8044-36e9-0000-000000000000</parentGroupId>
                            <position>
<x>1188.4041584347688</x>
<y>665.4617342868804</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-2-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.0.1.0.1.0-12</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>acks</key>
        <value>
            <name>acks</name>
        </value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>
            <name>use-transactions</name>
        </value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
        <value>
            <name>attribute-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>kafka-key</key>
        <value>
            <name>kafka-key</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>
            <name>max.request.size</name>
        </value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>
            <name>ack.wait.time</name>
        </value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>
            <name>max.block.ms</name>
        </value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>
            <name>partitioner.class</name>
        </value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>
            <name>compression.type</name>
        </value>
    </entry>
    <entry>
        <key>client.id</key>
        <value>
            <name>client.id</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>${KAFKA0}</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>topic</key>
        <value>nifi-logs-info</value>
    </entry>
    <entry>
        <key>acks</key>
        <value>0</value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>kafka-key</key>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>5 sec</value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>none</value>
    </entry>
    <entry>
        <key>client.id</key>
        <value>nifi-info-logs-producer</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Publish Info to Kafka </name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_0</type>
                        </processors>
                        <processors>
                            <id>c47090c8-1538-3dfd-0000-000000000000</id>
                            <parentGroupId>a2589432-8044-36e9-0000-000000000000</parentGroupId>
                            <position>
<x>970.0265517431781</x>
<y>379.61622768913185</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.0.1.0.1.0-12</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Routing Strategy</key>
        <value>
            <name>Routing Strategy</name>
        </value>
    </entry>
    <entry>
        <key>error</key>
        <value>
            <name>error</name>
        </value>
    </entry>
    <entry>
        <key>info</key>
        <value>
            <name>info</name>
        </value>
    </entry>
    <entry>
        <key>warn</key>
        <value>
            <name>warn</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Routing Strategy</key>
        <value>Route to Property name</value>
    </entry>
    <entry>
        <key>error</key>
        <value>${log_level:equals('ERROR')}</value>
    </entry>
    <entry>
        <key>info</key>
        <value>${log_level:equals('INFO')}</value>
    </entry>
    <entry>
        <key>warn</key>
        <value>${log_level:equals('WARN')}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>RouteOnAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>error</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>info</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>warn</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                        </processors>
                        <processors>
                            <id>d3eb9621-87eb-3aff-0000-000000000000</id>
                            <parentGroupId>a2589432-8044-36e9-0000-000000000000</parentGroupId>
                            <position>
<x>470.00000145020937</x>
<y>566.9633250636682</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.0.1.0.1.0-12</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>log_level</key>
        <value>
            <name>log_level</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>5de61f3b-7f7a-3a6c-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>7d941bbd-1f71-3faf-0000-000000000000</value>
    </entry>
    <entry>
        <key>log_level</key>
        <value>/level</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PartitionRecord</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.PartitionRecord</type>
                        </processors>
                        <processors>
                            <id>d982fc79-6e68-32bb-0000-000000000000</id>
                            <parentGroupId>a2589432-8044-36e9-0000-000000000000</parentGroupId>
                            <position>
<x>470.00000145020937</x>
<y>154.99998535074377</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.0.1.0.1.0-12</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>tail-mode</key>
        <value>
            <name>tail-mode</name>
        </value>
    </entry>
    <entry>
        <key>File to Tail</key>
        <value>
            <name>File to Tail</name>
        </value>
    </entry>
    <entry>
        <key>Rolling Filename Pattern</key>
        <value>
            <name>Rolling Filename Pattern</name>
        </value>
    </entry>
    <entry>
        <key>tail-base-directory</key>
        <value>
            <name>tail-base-directory</name>
        </value>
    </entry>
    <entry>
        <key>Initial Start Position</key>
        <value>
            <name>Initial Start Position</name>
        </value>
    </entry>
    <entry>
        <key>File Location</key>
        <value>
            <name>File Location</name>
        </value>
    </entry>
    <entry>
        <key>tailfile-recursive-lookup</key>
        <value>
            <name>tailfile-recursive-lookup</name>
        </value>
    </entry>
    <entry>
        <key>tailfile-lookup-frequency</key>
        <value>
            <name>tailfile-lookup-frequency</name>
        </value>
    </entry>
    <entry>
        <key>tailfile-maximum-age</key>
        <value>
            <name>tailfile-maximum-age</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>tail-mode</key>
        <value>Single file</value>
    </entry>
    <entry>
        <key>File to Tail</key>
        <value>/var/log/nifi/nifi-app.log</value>
    </entry>
    <entry>
        <key>Rolling Filename Pattern</key>
    </entry>
    <entry>
        <key>tail-base-directory</key>
    </entry>
    <entry>
        <key>Initial Start Position</key>
        <value>Beginning of File</value>
    </entry>
    <entry>
        <key>File Location</key>
        <value>Local</value>
    </entry>
    <entry>
        <key>tailfile-recursive-lookup</key>
        <value>false</value>
    </entry>
    <entry>
        <key>tailfile-lookup-frequency</key>
        <value>10 minutes</value>
    </entry>
    <entry>
        <key>tailfile-maximum-age</key>
        <value>24 hours</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>5 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>TailFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.TailFile</type>
                        </processors>
                    </contents>
                    <name>Send Nifi Logs to Kafka</name>
                    <variables/>
                </processGroups>
            </contents>
            <name>Log Demo</name>
            <variables>
                <entry>
                    <key>KAFKA0</key>
                    <value>ip-10-0-1-228.us-west-2.compute.internal:9092,ip-10-0-1-119.us-west-2.compute.internal:9092,ip-10-0-1-113.us-west-2.compute.internal:9092</value>
                </entry>
            </variables>
        </processGroups>
    </snippet>
    <timestamp>11/13/2019 14:10:05 UTC</timestamp>
</template>
